/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:d609863a626682af943a873595fd9e7d:638405b6945117e4160bae255e539879:db4702caf2029946dca1c4822af0970d$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../images/textures.png);}

.any_artifact {width:68px; height:68px; background-position: -141px -1730px}
.book_of_bic {width:33px; height:31px; background-position: -738px -0px}
.book_of_cas {width:33px; height:31px; background-position: -771px -0px}
.book_of_cu {width:33px; height:31px; background-position: -804px -0px}
.book_of_tles {width:33px; height:31px; background-position: -837px -0px}
.chocolate_caramel {width:44px; height:43px; background-position: -347px -145px}
.coconut_cruncher {width:52px; height:41px; background-position: -812px -104px}
.egg1 {width:38px; height:49px; background-position: -847px -281px}
.egg10 {width:38px; height:49px; background-position: -885px -281px}
.egg11 {width:38px; height:49px; background-position: -923px -281px}
.egg12 {width:38px; height:49px; background-position: -961px -281px}
.egg13 {width:38px; height:49px; background-position: -0px -330px}
.egg14 {width:38px; height:49px; background-position: -38px -330px}
.egg15 {width:38px; height:49px; background-position: -76px -330px}
.egg16 {width:38px; height:49px; background-position: -114px -330px}
.egg17 {width:38px; height:49px; background-position: -152px -330px}
.egg18 {width:38px; height:49px; background-position: -190px -330px}
.egg19 {width:38px; height:49px; background-position: -228px -330px}
.egg2 {width:38px; height:49px; background-position: -266px -330px}
.egg20 {width:38px; height:49px; background-position: -304px -330px}
.egg21 {width:38px; height:49px; background-position: -342px -330px}
.egg3 {width:38px; height:49px; background-position: -380px -330px}
.egg4 {width:38px; height:49px; background-position: -418px -330px}
.egg5 {width:38px; height:49px; background-position: -456px -330px}
.egg6 {width:38px; height:49px; background-position: -494px -330px}
.egg7 {width:38px; height:49px; background-position: -532px -330px}
.egg8 {width:38px; height:49px; background-position: -570px -330px}
.egg9 {width:38px; height:49px; background-position: -608px -330px}
.hard_peppermint {width:50px; height:45px; background-position: -522px -189px}
.i_001 {width:36px; height:53px; background-position: -601px -583px}
.i_00100_cropped {width:53px; height:62px; background-position: -947px -1040px}
.i_00101_cropped {width:53px; height:62px; background-position: -0px -1102px}
.i_00103_cropped {width:53px; height:62px; background-position: -53px -1102px}
.i_00104_cropped {width:27px; height:31px; background-position: -870px -0px}
.i_00105_cropped {width:53px; height:62px; background-position: -106px -1102px}
.i_00108_cropped {width:53px; height:62px; background-position: -159px -1102px}
.i_00109_cropped {width:53px; height:62px; background-position: -212px -1102px}
.i_00110_cropped {width:51px; height:51px; background-position: -844px -429px}
.i_00113_cropped {width:39px; height:38px; background-position: -814px -66px}
.i_00114_cropped {width:53px; height:62px; background-position: -265px -1102px}
.i_00115_cropped {width:53px; height:62px; background-position: -318px -1102px}
.i_00116_cropped {width:26px; height:20px; background-position: -0px -0px}
.i_00120_cropped {width:53px; height:62px; background-position: -371px -1102px}
.i_00121_cropped {width:53px; height:62px; background-position: -424px -1102px}
.i_00122_cropped {width:53px; height:62px; background-position: -477px -1102px}
.i_00124_cropped {width:53px; height:62px; background-position: -530px -1102px}
.i_00126_cropped {width:30px; height:25px; background-position: -150px -0px}
.i_00127_cropped {width:38px; height:35px; background-position: -817px -31px}
.i_00128_cropped {width:53px; height:62px; background-position: -583px -1102px}
.i_00129_cropped {width:53px; height:62px; background-position: -636px -1102px}
.i_00130_cropped {width:53px; height:62px; background-position: -689px -1102px}
.i_00131_cropped {width:53px; height:62px; background-position: -742px -1102px}
.i_00132_cropped {width:53px; height:60px; background-position: -0px -920px}
.i_00135_cropped {width:53px; height:62px; background-position: -795px -1102px}
.i_00136_cropped {width:53px; height:62px; background-position: -848px -1102px}
.i_00137_cropped {width:53px; height:62px; background-position: -901px -1102px}
.i_00138_cropped {width:53px; height:62px; background-position: -0px -1164px}
.i_00139_cropped {width:49px; height:54px; background-position: -126px -636px}
.i_00140_cropped {width:53px; height:62px; background-position: -53px -1164px}
.i_00141_cropped {width:26px; height:25px; background-position: -180px -0px}
.i_00142_cropped {width:29px; height:22px; background-position: -50px -0px}
.i_00143_cropped {width:28px; height:22px; background-position: -79px -0px}
.i_00144_cropped {width:24px; height:21px; background-position: -26px -0px}
.i_00145_cropped {width:53px; height:62px; background-position: -106px -1164px}
.i_00146_cropped {width:53px; height:62px; background-position: -159px -1164px}
.i_00147_cropped {width:53px; height:62px; background-position: -212px -1164px}
.i_00150_cropped {width:53px; height:62px; background-position: -265px -1164px}
.i_00158_cropped {width:53px; height:62px; background-position: -318px -1164px}
.i_00167_cropped {width:51px; height:61px; background-position: -300px -1040px}
.i_00171_cropped {width:52px; height:60px; background-position: -53px -920px}
.i_00176_cropped {width:77px; height:74px; background-position: -809px -1730px}
.i_00177_cropped {width:47px; height:51px; background-position: -895px -429px}
.i_00178_cropped {width:52px; height:80px; background-position: -305px -1805px}
.i_00181_cropped {width:39px; height:44px; background-position: -718px -145px}
.i_00182_cropped {width:52px; height:62px; background-position: -371px -1164px}
.i_00184_cropped {width:51px; height:51px; background-position: -942px -429px}
.i_00185_cropped {width:31px; height:43px; background-position: -391px -145px}
.i_00186_cropped {width:30px; height:44px; background-position: -757px -145px}
.i_00187_cropped {width:35px; height:46px; background-position: -451px -234px}
.i_00188_cropped {width:52px; height:62px; background-position: -423px -1164px}
.i_00189_cropped {width:31px; height:45px; background-position: -572px -189px}
.i_00190_cropped {width:53px; height:62px; background-position: -475px -1164px}
.i_00191_cropped {width:52px; height:62px; background-position: -528px -1164px}
.i_002 {width:20px; height:39px; background-position: -318px -104px}
.i_00202_cropped {width:52px; height:62px; background-position: -580px -1164px}
.i_00203_cropped {width:52px; height:62px; background-position: -632px -1164px}
.i_00204_cropped {width:52px; height:62px; background-position: -684px -1164px}
.i_00215_cropped {width:52px; height:62px; background-position: -736px -1164px}
.i_00216_cropped {width:52px; height:62px; background-position: -788px -1164px}
.i_00217_cropped {width:26px; height:38px; background-position: -853px -66px}
.i_00219_cropped {width:53px; height:62px; background-position: -840px -1164px}
.i_00221_cropped {width:21px; height:38px; background-position: -879px -66px}
.i_00223_cropped {width:53px; height:62px; background-position: -893px -1164px}
.i_00224_cropped {width:21px; height:38px; background-position: -900px -66px}
.i_00225_cropped {width:48px; height:53px; background-position: -637px -583px}
.i_00229_cropped {width:21px; height:38px; background-position: -921px -66px}
.i_00230_cropped {width:53px; height:62px; background-position: -946px -1164px}
.i_00240_cropped {width:53px; height:62px; background-position: -0px -1226px}
.i_00252_cropped {width:51px; height:51px; background-position: -0px -480px}
.i_00253_cropped {width:31px; height:43px; background-position: -422px -145px}
.i_00254_cropped {width:31px; height:43px; background-position: -453px -145px}
.i_00255_cropped {width:35px; height:40px; background-position: -635px -104px}
.i_00256_cropped {width:42px; height:48px; background-position: -156px -281px}
.i_00257_cropped {width:51px; height:51px; background-position: -51px -480px}
.i_00258_cropped {width:51px; height:51px; background-position: -102px -480px}
.i_00259_cropped {width:51px; height:51px; background-position: -153px -480px}
.i_00260_cropped {width:51px; height:51px; background-position: -204px -480px}
.i_00261_cropped {width:51px; height:51px; background-position: -255px -480px}
.i_00262_cropped {width:51px; height:51px; background-position: -306px -480px}
.i_00263_cropped {width:51px; height:51px; background-position: -357px -480px}
.i_00264_cropped {width:51px; height:51px; background-position: -408px -480px}
.i_00265_cropped {width:51px; height:51px; background-position: -459px -480px}
.i_00266_cropped {width:51px; height:51px; background-position: -510px -480px}
.i_00267_cropped {width:51px; height:51px; background-position: -561px -480px}
.i_00277_cropped {width:30px; height:44px; background-position: -787px -145px}
.i_00278_cropped {width:30px; height:44px; background-position: -817px -145px}
.i_00279_cropped {width:51px; height:51px; background-position: -612px -480px}
.i_00280_cropped {width:52px; height:62px; background-position: -53px -1226px}
.i_00290_cropped {width:53px; height:62px; background-position: -105px -1226px}
.i_00291_cropped {width:51px; height:51px; background-position: -663px -480px}
.i_00292_cropped {width:52px; height:62px; background-position: -158px -1226px}
.i_00293_cropped {width:49px; height:58px; background-position: -0px -803px}
.i_00294_cropped {width:38px; height:36px; background-position: -44px -66px}
.i_00295_cropped {width:53px; height:62px; background-position: -210px -1226px}
.i_00296_cropped {width:56px; height:83px; background-position: -606px -1805px}
.i_00297_cropped {width:52px; height:61px; background-position: -351px -1040px}
.i_00299_cropped {width:53px; height:62px; background-position: -263px -1226px}
.i_003 {width:70px; height:63px; background-position: -531px -1536px}
.i_00300_cropped {width:51px; height:51px; background-position: -714px -480px}
.i_00301_cropped {width:52px; height:62px; background-position: -316px -1226px}
.i_00302_cropped {width:53px; height:62px; background-position: -368px -1226px}
.i_00303_cropped {width:53px; height:62px; background-position: -421px -1226px}
.i_00304_cropped {width:53px; height:62px; background-position: -474px -1226px}
.i_00306_cropped {width:66px; height:73px; background-position: -680px -1730px}
.i_00307_cropped {width:43px; height:38px; background-position: -942px -66px}
.i_00308_cropped {width:43px; height:38px; background-position: -0px -104px}
.i_00309_cropped {width:46px; height:56px; background-position: -843px -690px}
.i_00310_cropped {width:56px; height:50px; background-position: -498px -379px}
.i_00311_cropped {width:39px; height:45px; background-position: -603px -189px}
.i_00312_cropped {width:51px; height:51px; background-position: -765px -480px}
.i_00313_cropped {width:51px; height:51px; background-position: -816px -480px}
.i_00315_cropped {width:27px; height:33px; background-position: -346px -31px}
.i_00316_cropped {width:23px; height:29px; background-position: -616px -0px}
.i_00317_cropped {width:23px; height:28px; background-position: -402px -0px}
.i_00318_cropped {width:24px; height:28px; background-position: -425px -0px}
.i_00319_cropped {width:22px; height:28px; background-position: -449px -0px}
.i_00320_cropped {width:21px; height:29px; background-position: -639px -0px}
.i_00321_cropped {width:53px; height:62px; background-position: -527px -1226px}
.i_00322_cropped {width:51px; height:51px; background-position: -867px -480px}
.i_00323_cropped {width:52px; height:62px; background-position: -580px -1226px}
.i_00324_cropped {width:53px; height:62px; background-position: -632px -1226px}
.i_00325_cropped {width:51px; height:51px; background-position: -918px -480px}
.i_00326_cropped {width:52px; height:62px; background-position: -685px -1226px}
.i_00327_cropped {width:47px; height:47px; background-position: -753px -234px}
.i_00328_cropped {width:33px; height:40px; background-position: -670px -104px}
.i_00329_cropped {width:51px; height:51px; background-position: -0px -531px}
.i_00330_cropped {width:53px; height:62px; background-position: -737px -1226px}
.i_00331_cropped {width:53px; height:60px; background-position: -105px -920px}
.i_00332_cropped {width:35px; height:46px; background-position: -486px -234px}
.i_00333_cropped {width:53px; height:57px; background-position: -271px -746px}
.i_00334_cropped {width:27px; height:27px; background-position: -312px -0px}
.i_00335_cropped {width:49px; height:54px; background-position: -175px -636px}
.i_00336_cropped {width:49px; height:54px; background-position: -224px -636px}
.i_00337_cropped {width:49px; height:54px; background-position: -273px -636px}
.i_00338_cropped {width:49px; height:54px; background-position: -322px -636px}
.i_00339_cropped {width:49px; height:54px; background-position: -371px -636px}
.i_00340_cropped {width:49px; height:54px; background-position: -420px -636px}
.i_00341_cropped {width:49px; height:54px; background-position: -469px -636px}
.i_00342_cropped {width:49px; height:54px; background-position: -518px -636px}
.i_00343_cropped {width:49px; height:54px; background-position: -567px -636px}
.i_00344_cropped {width:49px; height:54px; background-position: -616px -636px}
.i_00345_cropped {width:49px; height:54px; background-position: -665px -636px}
.i_00346_cropped {width:49px; height:54px; background-position: -714px -636px}
.i_00348_cropped {width:28px; height:43px; background-position: -484px -145px}
.i_00349_cropped {width:29px; height:36px; background-position: -82px -66px}
.i_00350_cropped {width:53px; height:62px; background-position: -790px -1226px}
.i_00351_cropped {width:53px; height:62px; background-position: -843px -1226px}
.i_00353_cropped {width:65px; height:81px; background-position: -488px -1805px}
.i_00354_cropped {width:41px; height:56px; background-position: -889px -690px}
.i_00355_cropped {width:46px; height:46px; background-position: -521px -234px}
.i_00356_cropped {width:37px; height:51px; background-position: -51px -531px}
.i_00357_cropped {width:53px; height:81px; background-position: -553px -1805px}
.i_00358_cropped {width:49px; height:58px; background-position: -49px -803px}
.i_00359_cropped {width:51px; height:80px; background-position: -357px -1805px}
.i_00360_cropped {width:31px; height:39px; background-position: -338px -104px}
.i_00362_cropped {width:17px; height:22px; background-position: -107px -0px}
.i_00363_cropped {width:53px; height:62px; background-position: -896px -1226px}
.i_00364_cropped {width:30px; height:37px; background-position: -627px -66px}
.i_00365_cropped {width:12px; height:30px; background-position: -660px -0px}
.i_00366_cropped {width:25px; height:31px; background-position: -897px -0px}
.i_00367_cropped {width:25px; height:31px; background-position: -922px -0px}
.i_00368_cropped {width:25px; height:31px; background-position: -947px -0px}
.i_00369_cropped {width:25px; height:31px; background-position: -972px -0px}
.i_00370_cropped {width:41px; height:45px; background-position: -642px -189px}
.i_00372_cropped {width:36px; height:46px; background-position: -567px -234px}
.i_00373_cropped {width:63px; height:45px; background-position: -683px -189px}
.i_00375_cropped {width:53px; height:62px; background-position: -949px -1226px}
.i_00376_cropped {width:45px; height:48px; background-position: -198px -281px}
.i_00391_cropped {width:53px; height:62px; background-position: -0px -1288px}
.i_00398_cropped {width:53px; height:62px; background-position: -53px -1288px}
.i_00399_cropped {width:53px; height:62px; background-position: -106px -1288px}
.i_004 {width:36px; height:66px; background-position: -767px -1664px}
.i_00400_cropped {width:53px; height:62px; background-position: -159px -1288px}
.i_00402_cropped {width:27px; height:28px; background-position: -471px -0px}
.i_00403_cropped {width:27px; height:28px; background-position: -498px -0px}
.i_00439_cropped {width:49px; height:55px; background-position: -384px -690px}
.i_00445_cropped {width:49px; height:55px; background-position: -433px -690px}
.i_00449_cropped {width:49px; height:54px; background-position: -763px -636px}
.i_00450_cropped {width:49px; height:54px; background-position: -812px -636px}
.i_00451_cropped {width:49px; height:55px; background-position: -482px -690px}
.i_00453_cropped {width:53px; height:62px; background-position: -212px -1288px}
.i_00454_cropped {width:53px; height:62px; background-position: -265px -1288px}
.i_00455_cropped {width:53px; height:62px; background-position: -318px -1288px}
.i_00456_cropped {width:35px; height:45px; background-position: -746px -189px}
.i_00498_cropped {width:53px; height:62px; background-position: -371px -1288px}
.i_00499_cropped {width:53px; height:62px; background-position: -424px -1288px}
.i_00501_cropped {width:53px; height:62px; background-position: -477px -1288px}
.i_00505_cropped {width:53px; height:62px; background-position: -530px -1288px}
.i_00506_cropped {width:53px; height:62px; background-position: -583px -1288px}
.i_00508_cropped {width:53px; height:62px; background-position: -636px -1288px}
.i_00521_cropped {width:28px; height:33px; background-position: -373px -31px}
.i_00524_cropped {width:53px; height:62px; background-position: -689px -1288px}
.i_00538_cropped {width:26px; height:33px; background-position: -401px -31px}
.i_00539_cropped {width:26px; height:33px; background-position: -427px -31px}
.i_00540_cropped {width:26px; height:33px; background-position: -453px -31px}
.i_00541_cropped {width:37px; height:38px; background-position: -43px -104px}
.i_00542_cropped {width:36px; height:31px; background-position: -0px -31px}
.i_00547_cropped {width:39px; height:32px; background-position: -124px -31px}
.i_00554_cropped {width:33px; height:32px; background-position: -163px -31px}
.i_00556_cropped {width:33px; height:32px; background-position: -196px -31px}
.i_00558_cropped {width:31px; height:28px; background-position: -525px -0px}
.i_00567_cropped {width:33px; height:31px; background-position: -36px -31px}
.i_00579_cropped {width:53px; height:62px; background-position: -742px -1288px}
.i_00581_cropped {width:31px; height:45px; background-position: -781px -189px}
.i_00583_cropped {width:26px; height:33px; background-position: -479px -31px}
.i_00584_cropped {width:26px; height:33px; background-position: -505px -31px}
.i_00585_cropped {width:53px; height:62px; background-position: -795px -1288px}
.i_00586_cropped {width:53px; height:62px; background-position: -848px -1288px}
.i_00587_cropped {width:51px; height:51px; background-position: -88px -531px}
.i_00588_cropped {width:51px; height:51px; background-position: -139px -531px}
.i_00589_cropped {width:51px; height:51px; background-position: -190px -531px}
.i_00591_cropped {width:52px; height:62px; background-position: -901px -1288px}
.i_00592_cropped {width:52px; height:62px; background-position: -0px -1350px}
.i_00593_cropped {width:52px; height:62px; background-position: -52px -1350px}
.i_00594_cropped {width:30px; height:44px; background-position: -847px -145px}
.i_00595_cropped {width:30px; height:44px; background-position: -877px -145px}
.i_00596_cropped {width:30px; height:44px; background-position: -907px -145px}
.i_00597_cropped {width:53px; height:62px; background-position: -104px -1350px}
.i_00598_cropped {width:53px; height:62px; background-position: -157px -1350px}
.i_00599_cropped {width:53px; height:62px; background-position: -210px -1350px}
.i_00600_cropped {width:51px; height:51px; background-position: -241px -531px}
.i_00601_cropped {width:51px; height:51px; background-position: -292px -531px}
.i_00602_cropped {width:51px; height:51px; background-position: -343px -531px}
.i_00603_cropped {width:30px; height:44px; background-position: -937px -145px}
.i_00604_cropped {width:30px; height:44px; background-position: -967px -145px}
.i_00605_cropped {width:31px; height:43px; background-position: -512px -145px}
.i_00607_cropped {width:53px; height:62px; background-position: -263px -1350px}
.i_00609_cropped {width:53px; height:62px; background-position: -316px -1350px}
.i_00610_cropped {width:53px; height:46px; background-position: -603px -234px}
.i_00611_cropped {width:53px; height:46px; background-position: -656px -234px}
.i_00612_cropped {width:51px; height:51px; background-position: -394px -531px}
.i_00613_cropped {width:52px; height:62px; background-position: -369px -1350px}
.i_00614_cropped {width:51px; height:51px; background-position: -445px -531px}
.i_00615_cropped {width:52px; height:62px; background-position: -421px -1350px}
.i_00616_cropped {width:51px; height:51px; background-position: -496px -531px}
.i_00617_cropped {width:52px; height:62px; background-position: -473px -1350px}
.i_00651_cropped {width:53px; height:62px; background-position: -525px -1350px}
.i_00652_cropped {width:53px; height:62px; background-position: -578px -1350px}
.i_00653_cropped {width:53px; height:62px; background-position: -631px -1350px}
.i_00654_cropped {width:51px; height:51px; background-position: -547px -531px}
.i_00655_cropped {width:51px; height:51px; background-position: -598px -531px}
.i_00656_cropped {width:51px; height:51px; background-position: -649px -531px}
.i_00657_cropped {width:52px; height:62px; background-position: -684px -1350px}
.i_00658_cropped {width:52px; height:62px; background-position: -736px -1350px}
.i_00659_cropped {width:52px; height:62px; background-position: -788px -1350px}
.i_00660_cropped {width:45px; height:52px; background-position: -862px -531px}
.i_00680_cropped {width:53px; height:62px; background-position: -840px -1350px}
.i_00684_cropped {width:53px; height:62px; background-position: -893px -1350px}
.i_00698_cropped {width:53px; height:62px; background-position: -946px -1350px}
.i_007 {width:59px; height:61px; background-position: -403px -1040px}
.i_00720_cropped {width:53px; height:62px; background-position: -0px -1412px}
.i_00722_cropped {width:53px; height:62px; background-position: -53px -1412px}
.i_00723_cropped {width:53px; height:62px; background-position: -106px -1412px}
.i_00724_cropped {width:53px; height:62px; background-position: -159px -1412px}
.i_00725_cropped {width:53px; height:62px; background-position: -212px -1412px}
.i_00726_cropped {width:53px; height:62px; background-position: -265px -1412px}
.i_00727_cropped {width:53px; height:62px; background-position: -318px -1412px}
.i_00728_cropped {width:53px; height:62px; background-position: -371px -1412px}
.i_00729_cropped {width:53px; height:62px; background-position: -424px -1412px}
.i_00730_cropped {width:53px; height:62px; background-position: -477px -1412px}
.i_00731_cropped {width:53px; height:62px; background-position: -530px -1412px}
.i_00732_cropped {width:53px; height:62px; background-position: -583px -1412px}
.i_00733_cropped {width:53px; height:62px; background-position: -636px -1412px}
.i_00734_cropped {width:53px; height:62px; background-position: -689px -1412px}
.i_00735_cropped {width:53px; height:62px; background-position: -742px -1412px}
.i_00736_cropped {width:53px; height:62px; background-position: -795px -1412px}
.i_00737_cropped {width:53px; height:62px; background-position: -848px -1412px}
.i_00738_cropped {width:53px; height:62px; background-position: -901px -1412px}
.i_00739_cropped {width:53px; height:62px; background-position: -0px -1474px}
.i_00740_cropped {width:53px; height:62px; background-position: -53px -1474px}
.i_00741_cropped {width:53px; height:62px; background-position: -106px -1474px}
.i_00742_cropped {width:53px; height:62px; background-position: -159px -1474px}
.i_00743_cropped {width:53px; height:62px; background-position: -212px -1474px}
.i_00744_cropped {width:53px; height:62px; background-position: -265px -1474px}
.i_00745_cropped {width:53px; height:62px; background-position: -318px -1474px}
.i_00746_cropped {width:53px; height:62px; background-position: -371px -1474px}
.i_008 {width:46px; height:45px; background-position: -812px -189px}
.i_00800_cropped {width:53px; height:62px; background-position: -424px -1474px}
.i_00856_cropped {width:71px; height:83px; background-position: -662px -1805px}
.i_00857_cropped {width:59px; height:41px; background-position: -864px -104px}
.i_00858_cropped {width:59px; height:42px; background-position: -50px -145px}
.i_00859_cropped {width:59px; height:43px; background-position: -543px -145px}
.i_00860_cropped {width:55px; height:44px; background-position: -0px -189px}
.i_00861_cropped {width:59px; height:47px; background-position: -800px -234px}
.i_00862_cropped {width:52px; height:51px; background-position: -700px -531px}
.i_00863_cropped {width:55px; height:58px; background-position: -98px -803px}
.i_00864_cropped {width:55px; height:41px; background-position: -923px -104px}
.i_00891_cropped {width:71px; height:49px; background-position: -646px -330px}
.i_00898_cropped {width:57px; height:55px; background-position: -531px -690px}
.i_00899_cropped {width:60px; height:58px; background-position: -153px -803px}
.i_009 {width:46px; height:45px; background-position: -858px -189px}
.i_00906_cropped {width:58px; height:61px; background-position: -462px -1040px}
.i_00907_cropped {width:57px; height:59px; background-position: -792px -861px}
.i_00908_cropped {width:56px; height:60px; background-position: -158px -920px}
.i_00909_cropped {width:58px; height:61px; background-position: -520px -1040px}
.i_00910_cropped {width:57px; height:59px; background-position: -849px -861px}
.i_00911_cropped {width:56px; height:60px; background-position: -214px -920px}
.i_00943_cropped {width:68px; height:63px; background-position: -601px -1536px}
.i_00945_cropped {width:26px; height:30px; background-position: -672px -0px}
.i_00946_cropped {width:65px; height:66px; background-position: -803px -1664px}
.i_00947_cropped {width:41px; height:65px; background-position: -630px -1599px}
.i_00949_cropped {width:67px; height:54px; background-position: -861px -636px}
.i_00950_cropped {width:38px; height:37px; background-position: -657px -66px}
.i_00955_cropped {width:52px; height:62px; background-position: -477px -1474px}
.i_00958_cropped {width:51px; height:36px; background-position: -111px -66px}
.i_00959_cropped {width:50px; height:35px; background-position: -855px -31px}
.i_00960_cropped {width:48px; height:34px; background-position: -531px -31px}
.i_00961_cropped {width:10px; height:28px; background-position: -556px -0px}
.i_00978_cropped {width:49px; height:34px; background-position: -579px -31px}
.i_00996_cropped {width:50px; height:68px; background-position: -209px -1730px}
.i_010 {width:46px; height:45px; background-position: -904px -189px}
.i_01003_cropped {width:55px; height:48px; background-position: -243px -281px}
.i_01004_cropped {width:57px; height:48px; background-position: -298px -281px}
.i_01028_cropped {width:75px; height:54px; background-position: -928px -636px}
.i_01030_cropped {width:50px; height:28px; background-position: -566px -0px}
.i_01032_cropped {width:72px; height:39px; background-position: -369px -104px}
.i_01082_cropped {width:45px; height:48px; background-position: -355px -281px}
.i_01083_cropped {width:45px; height:48px; background-position: -400px -281px}
.i_011 {width:51px; height:54px; background-position: -0px -690px}
.i_01101_cropped {width:62px; height:72px; background-position: -567px -1730px}
.i_012 {width:32px; height:58px; background-position: -213px -803px}
.i_013 {width:32px; height:58px; background-position: -245px -803px}
.i_014 {width:32px; height:58px; background-position: -277px -803px}
.i_01402_cropped {width:64px; height:56px; background-position: -930px -690px}
.i_01404_cropped {width:64px; height:54px; background-position: -51px -690px}
.i_01406_cropped {width:64px; height:52px; background-position: -907px -531px}
.i_01407_cropped {width:64px; height:47px; background-position: -859px -234px}
.i_01409_cropped {width:60px; height:62px; background-position: -529px -1474px}
.i_01418_cropped {width:67px; height:58px; background-position: -309px -803px}
.i_01419_cropped {width:62px; height:57px; background-position: -324px -746px}
.i_01420_cropped {width:53px; height:57px; background-position: -386px -746px}
.i_01421_cropped {width:53px; height:57px; background-position: -439px -746px}
.i_01422_cropped {width:53px; height:57px; background-position: -492px -746px}
.i_01423_cropped {width:62px; height:57px; background-position: -545px -746px}
.i_01424_cropped {width:53px; height:57px; background-position: -607px -746px}
.i_01425_cropped {width:53px; height:57px; background-position: -660px -746px}
.i_01448_cropped {width:72px; height:49px; background-position: -717px -330px}
.i_01449_cropped {width:67px; height:66px; background-position: -868px -1664px}
.i_01459_cropped {width:53px; height:62px; background-position: -589px -1474px}
.i_01460_cropped {width:53px; height:62px; background-position: -642px -1474px}
.i_01461_cropped {width:53px; height:62px; background-position: -695px -1474px}
.i_01462 {width:53px; height:62px; background-position: -748px -1474px}
.i_01463_cropped {width:53px; height:62px; background-position: -801px -1474px}
.i_01464_cropped {width:53px; height:62px; background-position: -854px -1474px}
.i_01465_cropped {width:57px; height:58px; background-position: -376px -803px}
.i_01466_cropped {width:57px; height:58px; background-position: -433px -803px}
.i_01467_cropped {width:57px; height:58px; background-position: -490px -803px}
.i_01468_cropped {width:57px; height:58px; background-position: -547px -803px}
.i_01469_cropped {width:56px; height:58px; background-position: -604px -803px}
.i_01470_cropped {width:58px; height:58px; background-position: -660px -803px}
.i_01471_cropped {width:61px; height:58px; background-position: -718px -803px}
.i_01472_cropped {width:67px; height:58px; background-position: -779px -803px}
.i_01473_cropped {width:56px; height:58px; background-position: -846px -803px}
.i_01474_cropped {width:65px; height:58px; background-position: -902px -803px}
.i_01475_cropped {width:63px; height:59px; background-position: -906px -861px}
.i_01476_cropped {width:57px; height:58px; background-position: -0px -861px}
.i_01477_cropped {width:58px; height:58px; background-position: -57px -861px}
.i_01478_cropped {width:61px; height:58px; background-position: -115px -861px}
.i_01479_cropped {width:62px; height:58px; background-position: -176px -861px}
.i_01480_cropped {width:61px; height:58px; background-position: -238px -861px}
.i_01481_cropped {width:57px; height:58px; background-position: -299px -861px}
.i_01482_cropped {width:58px; height:55px; background-position: -588px -690px}
.i_01483_cropped {width:53px; height:56px; background-position: -0px -746px}
.i_01484_cropped {width:58px; height:56px; background-position: -53px -746px}
.i_01485_cropped {width:54px; height:56px; background-position: -111px -746px}
.i_01486_cropped {width:65px; height:50px; background-position: -554px -379px}
.i_01487_cropped {width:51px; height:49px; background-position: -789px -330px}
.i_01488_cropped {width:60px; height:48px; background-position: -445px -281px}
.i_01489_cropped {width:44px; height:47px; background-position: -923px -234px}
.i_01490_cropped {width:45px; height:48px; background-position: -505px -281px}
.i_01491_cropped {width:56px; height:52px; background-position: -0px -583px}
.i_01492_cropped {width:44px; height:46px; background-position: -709px -234px}
.i_01493_cropped {width:53px; height:49px; background-position: -840px -330px}
.i_01494_cropped {width:45px; height:53px; background-position: -685px -583px}
.i_01495_cropped {width:49px; height:50px; background-position: -619px -379px}
.i_01496_cropped {width:54px; height:48px; background-position: -550px -281px}
.i_01497_cropped {width:64px; height:53px; background-position: -730px -583px}
.i_01498_cropped {width:49px; height:50px; background-position: -668px -379px}
.i_01499_cropped {width:53px; height:50px; background-position: -717px -379px}
.i_01500_cropped {width:54px; height:50px; background-position: -770px -379px}
.i_01501_cropped {width:82px; height:49px; background-position: -893px -330px}
.i_01531_cropped {width:47px; height:55px; background-position: -646px -690px}
.i_01532_cropped {width:46px; height:53px; background-position: -794px -583px}
.i_01564_cropped {width:48px; height:50px; background-position: -824px -379px}
.i_01565_cropped {width:48px; height:50px; background-position: -872px -379px}
.i_01566_cropped {width:48px; height:50px; background-position: -920px -379px}
.i_01567_cropped {width:48px; height:50px; background-position: -0px -429px}
.i_01568_cropped {width:48px; height:50px; background-position: -48px -429px}
.i_01569_cropped {width:48px; height:50px; background-position: -96px -429px}
.i_01570_cropped {width:48px; height:50px; background-position: -144px -429px}
.i_01571_cropped {width:48px; height:50px; background-position: -192px -429px}
.i_01572_cropped {width:48px; height:50px; background-position: -240px -429px}
.i_01573_cropped {width:48px; height:50px; background-position: -288px -429px}
.i_01574_cropped {width:48px; height:50px; background-position: -336px -429px}
.i_01575_cropped {width:48px; height:50px; background-position: -384px -429px}
.i_01576_cropped {width:48px; height:50px; background-position: -432px -429px}
.i_01577_cropped {width:48px; height:50px; background-position: -480px -429px}
.i_01578_cropped {width:48px; height:50px; background-position: -528px -429px}
.i_01579_cropped {width:48px; height:50px; background-position: -576px -429px}
.i_016 {width:37px; height:35px; background-position: -905px -31px}
.i_017 {width:38px; height:49px; background-position: -0px -379px}
.i_019 {width:51px; height:63px; background-position: -669px -1536px}
.i_021 {width:32px; height:58px; background-position: -356px -861px}
.i_022 {width:32px; height:58px; background-position: -388px -861px}
.i_023 {width:32px; height:58px; background-position: -420px -861px}
.i_024 {width:32px; height:58px; background-position: -452px -861px}
.i_025 {width:32px; height:58px; background-position: -484px -861px}
.i_026 {width:32px; height:58px; background-position: -516px -861px}
.i_028 {width:50px; height:49px; background-position: -38px -379px}
.i_029 {width:53px; height:75px; background-position: -886px -1730px}
.i_030 {width:37px; height:37px; background-position: -695px -66px}
.i_031 {width:49px; height:49px; background-position: -88px -379px}
.i_032 {width:51px; height:44px; background-position: -55px -189px}
.i_033 {width:45px; height:49px; background-position: -137px -379px}
.i_034 {width:51px; height:48px; background-position: -604px -281px}
.i_035 {width:43px; height:45px; background-position: -950px -189px}
.i_036 {width:59px; height:54px; background-position: -115px -690px}
.i_037 {width:44px; height:39px; background-position: -441px -104px}
.i_038 {width:31px; height:61px; background-position: -578px -1040px}
.i_039 {width:59px; height:61px; background-position: -609px -1040px}
.i_040 {width:49px; height:49px; background-position: -182px -379px}
.i_041 {width:67px; height:45px; background-position: -0px -234px}
.i_042 {width:35px; height:35px; background-position: -942px -31px}
.i_043 {width:52px; height:57px; background-position: -713px -746px}
.i_044 {width:31px; height:62px; background-position: -907px -1474px}
.i_045 {width:37px; height:55px; background-position: -693px -690px}
.i_046 {width:53px; height:56px; background-position: -165px -746px}
.i_047 {width:53px; height:56px; background-position: -218px -746px}
.i_048 {width:48px; height:48px; background-position: -655px -281px}
.i_049 {width:59px; height:58px; background-position: -548px -861px}
.i_050 {width:55px; height:31px; background-position: -69px -31px}
.i_051 {width:51px; height:72px; background-position: -629px -1730px}
.i_052 {width:44px; height:44px; background-position: -106px -189px}
.i_053 {width:60px; height:62px; background-position: -938px -1474px}
.i_054 {width:14px; height:57px; background-position: -765px -746px}
.i_055 {width:37px; height:37px; background-position: -732px -66px}
.i_056 {width:57px; height:64px; background-position: -127px -1599px}
.i_057 {width:39px; height:48px; background-position: -703px -281px}
.i_058 {width:49px; height:50px; background-position: -624px -429px}
.i_059 {width:42px; height:62px; background-position: -0px -1536px}
.i_060 {width:68px; height:54px; background-position: -174px -690px}
.i_061 {width:44px; height:35px; background-position: -0px -66px}
.i_062 {width:53px; height:36px; background-position: -162px -66px}
.i_063 {width:53px; height:36px; background-position: -215px -66px}
.i_064 {width:53px; height:36px; background-position: -268px -66px}
.i_065 {width:53px; height:36px; background-position: -321px -66px}
.i_066 {width:38px; height:44px; background-position: -150px -189px}
.i_067 {width:38px; height:44px; background-position: -188px -189px}
.i_068 {width:38px; height:44px; background-position: -226px -189px}
.i_069 {width:38px; height:44px; background-position: -264px -189px}
.i_070 {width:50px; height:63px; background-position: -720px -1536px}
.i_071 {width:50px; height:63px; background-position: -770px -1536px}
.i_072 {width:50px; height:63px; background-position: -820px -1536px}
.i_073 {width:50px; height:63px; background-position: -870px -1536px}
.i_074 {width:50px; height:63px; background-position: -920px -1536px}
.i_075 {width:44px; height:52px; background-position: -56px -583px}
.i_076 {width:44px; height:52px; background-position: -100px -583px}
.i_077 {width:44px; height:52px; background-position: -144px -583px}
.i_078 {width:47px; height:47px; background-position: -0px -281px}
.i_094 {width:38px; height:49px; background-position: -231px -379px}
.i_100 {width:42px; height:69px; background-position: -259px -1730px}
.i_101 {width:42px; height:69px; background-position: -301px -1730px}
.i_102 {width:42px; height:69px; background-position: -343px -1730px}
.i_103 {width:53px; height:36px; background-position: -374px -66px}
.i_104 {width:56px; height:62px; background-position: -42px -1536px}
.i_105 {width:63px; height:73px; background-position: -746px -1730px}
.i_106 {width:42px; height:69px; background-position: -385px -1730px}
.i_120 {width:60px; height:61px; background-position: -668px -1040px}
.i_138 {width:78px; height:78px; background-position: -227px -1805px}
.i_140 {width:78px; height:62px; background-position: -98px -1536px}
.i_141 {width:78px; height:62px; background-position: -176px -1536px}
.i_147 {width:75px; height:75px; background-position: -0px -1805px}
.i_149 {width:75px; height:75px; background-position: -75px -1805px}
.i_159 {width:60px; height:60px; background-position: -270px -920px}
.i_160 {width:60px; height:60px; background-position: -330px -920px}
.i_161 {width:60px; height:60px; background-position: -390px -920px}
.i_162 {width:60px; height:60px; background-position: -450px -920px}
.i_164 {width:60px; height:60px; background-position: -510px -920px}
.i_165 {width:60px; height:60px; background-position: -570px -920px}
.i_166 {width:60px; height:60px; background-position: -630px -920px}
.i_167 {width:78px; height:62px; background-position: -254px -1536px}
.i_168 {width:78px; height:62px; background-position: -332px -1536px}
.i_169 {width:60px; height:60px; background-position: -690px -920px}
.i_170 {width:60px; height:60px; background-position: -750px -920px}
.i_175 {width:60px; height:60px; background-position: -810px -920px}
.i_179 {width:60px; height:60px; background-position: -870px -920px}
.i_197 {width:51px; height:52px; background-position: -188px -583px}
.i_198 {width:61px; height:61px; background-position: -728px -1040px}
.i_200 {width:61px; height:61px; background-position: -789px -1040px}
.i_201 {width:58px; height:58px; background-position: -607px -861px}
.i_202 {width:51px; height:52px; background-position: -239px -583px}
.i_204 {width:65px; height:65px; background-position: -671px -1599px}
.i_205 {width:80px; height:80px; background-position: -408px -1805px}
.i_206 {width:63px; height:63px; background-position: -0px -1599px}
.i_209 {width:77px; height:77px; background-position: -150px -1805px}
.i_220 {width:44px; height:54px; background-position: -242px -690px}
.i_221 {width:53px; height:36px; background-position: -427px -66px}
.i_222 {width:56px; height:50px; background-position: -673px -429px}
.i_223 {width:52px; height:49px; background-position: -269px -379px}
.i_224 {width:33px; height:49px; background-position: -321px -379px}
.i_225 {width:52px; height:43px; background-position: -602px -145px}
.i_226 {width:51px; height:50px; background-position: -729px -429px}
.i_227 {width:51px; height:48px; background-position: -742px -281px}
.i_242 {width:65px; height:65px; background-position: -736px -1599px}
.i_243 {width:65px; height:65px; background-position: -801px -1599px}
.i_244 {width:65px; height:65px; background-position: -866px -1599px}
.i_245 {width:65px; height:65px; background-position: -931px -1599px}
.i_246 {width:65px; height:65px; background-position: -0px -1664px}
.i_247 {width:65px; height:65px; background-position: -65px -1664px}
.i_258 {width:58px; height:64px; background-position: -184px -1599px}
.i_259 {width:55px; height:64px; background-position: -242px -1599px}
.i_260 {width:64px; height:50px; background-position: -780px -429px}
.i_261 {width:64px; height:57px; background-position: -779px -746px}
.i_262 {width:48px; height:64px; background-position: -297px -1599px}
.i_263 {width:63px; height:51px; background-position: -752px -531px}
.i_264 {width:53px; height:47px; background-position: -47px -281px}
.i_265 {width:51px; height:44px; background-position: -302px -189px}
.i_266 {width:50px; height:41px; background-position: -0px -145px}
.i_267 {width:47px; height:39px; background-position: -485px -104px}
.i_268 {width:54px; height:48px; background-position: -793px -281px}
.i_269 {width:40px; height:30px; background-position: -698px -0px}
.i_270 {width:52px; height:42px; background-position: -109px -145px}
.i_271 {width:60px; height:60px; background-position: -930px -920px}
.i_273 {width:70px; height:70px; background-position: -427px -1730px}
.i_274 {width:65px; height:65px; background-position: -130px -1664px}
.i_275 {width:70px; height:70px; background-position: -497px -1730px}
.i_276 {width:60px; height:60px; background-position: -0px -980px}
.i_280 {width:89px; height:49px; background-position: -354px -379px}
.i_281 {width:77px; height:67px; background-position: -64px -1730px}
.i_282 {width:55px; height:49px; background-position: -443px -379px}
.i_283 {width:57px; height:64px; background-position: -345px -1599px}
.i_284 {width:63px; height:58px; background-position: -665px -861px}
.i_285 {width:52px; height:65px; background-position: -195px -1664px}
.i_286 {width:56px; height:61px; background-position: -850px -1040px}
.i_287 {width:64px; height:34px; background-position: -628px -31px}
.i_288 {width:65px; height:57px; background-position: -843px -746px}
.i_289 {width:60px; height:64px; background-position: -402px -1599px}
.i_290 {width:52px; height:38px; background-position: -80px -104px}
.i_291 {width:64px; height:58px; background-position: -728px -861px}
.i_292 {width:64px; height:43px; background-position: -654px -145px}
.i_293 {width:60px; height:62px; background-position: -410px -1536px}
.i_294 {width:64px; height:38px; background-position: -132px -104px}
.i_295 {width:63px; height:64px; background-position: -462px -1599px}
.i_296 {width:64px; height:55px; background-position: -730px -690px}
.i_297 {width:64px; height:52px; background-position: -290px -583px}
.i_298 {width:64px; height:63px; background-position: -63px -1599px}
.i_299 {width:64px; height:45px; background-position: -67px -234px}
.i_300 {width:56px; height:64px; background-position: -525px -1599px}
.i_301 {width:61px; height:53px; background-position: -840px -583px}
.i_302 {width:55px; height:40px; background-position: -703px -104px}
.i_303 {width:74px; height:32px; background-position: -229px -31px}
.i_304 {width:60px; height:36px; background-position: -480px -66px}
.i_305 {width:57px; height:42px; background-position: -161px -145px}
.i_306 {width:45px; height:37px; background-position: -769px -66px}
.i_307 {width:56px; height:44px; background-position: -353px -189px}
.i_308 {width:44px; height:36px; background-position: -540px -66px}
.i_309 {width:43px; height:32px; background-position: -303px -31px}
.i_310 {width:43px; height:36px; background-position: -584px -66px}
.i_311 {width:26px; height:24px; background-position: -124px -0px}
.i_312 {width:43px; height:45px; background-position: -131px -234px}
.i_313 {width:58px; height:45px; background-position: -174px -234px}
.i_314 {width:62px; height:39px; background-position: -532px -104px}
.i_315 {width:50px; height:44px; background-position: -409px -189px}
.i_316 {width:63px; height:44px; background-position: -459px -189px}
.i_317 {width:63px; height:27px; background-position: -339px -0px}
.i_318 {width:78px; height:34px; background-position: -692px -31px}
.i_320 {width:54px; height:45px; background-position: -232px -234px}
.i_321 {width:41px; height:39px; background-position: -594px -104px}
.i_326 {width:52px; height:26px; background-position: -260px -0px}
.i_327 {width:31px; height:66px; background-position: -935px -1664px}
.i_328 {width:42px; height:42px; background-position: -218px -145px}
.i_329 {width:47px; height:51px; background-position: -815px -531px}
.i_675 {width:53px; height:60px; background-position: -60px -980px}
.i_IMG_002 {width:51px; height:52px; background-position: -354px -583px}
.i_IMG_015 {width:47px; height:52px; background-position: -405px -583px}
.i_IMG_016 {width:61px; height:38px; background-position: -196px -104px}
.i_IMG_029 {width:51px; height:52px; background-position: -452px -583px}
.i_IMG_030 {width:51px; height:52px; background-position: -503px -583px}
.i_IMG_063 {width:57px; height:45px; background-position: -286px -234px}
.i_IMG_064 {width:57px; height:45px; background-position: -343px -234px}
.i_IMG_088 {width:56px; height:57px; background-position: -908px -746px}
.i_IMG_089 {width:60px; height:60px; background-position: -113px -980px}
.i_IMG_091 {width:64px; height:66px; background-position: -0px -1730px}
.i_IMG_096 {width:47px; height:52px; background-position: -554px -583px}
.i_IMG_097 {width:61px; height:38px; background-position: -257px -104px}
.i_IMG_098 {width:54px; height:40px; background-position: -758px -104px}
.i_IMG_099 {width:61px; height:62px; background-position: -470px -1536px}
.i_IMG_100 {width:49px; height:64px; background-position: -581px -1599px}
.i_IMG_128 {width:51px; height:45px; background-position: -400px -234px}
.i_IMG_353 {width:63px; height:53px; background-position: -901px -583px}
.i_IMG_354 {width:63px; height:53px; background-position: -0px -636px}
.i_IMG_355 {width:63px; height:53px; background-position: -63px -636px}
.i_IMG_556 {width:54px; height:25px; background-position: -206px -0px}
.i_IMG_557 {width:47px; height:34px; background-position: -770px -31px}
.i_IMG_602 {width:64px; height:83px; background-position: -733px -1805px}
.i_IMG_609 {width:41px; height:61px; background-position: -906px -1040px}
.i_IMG_675 {width:53px; height:60px; background-position: -173px -980px}
.i_custom_1 {width:60px; height:60px; background-position: -226px -980px}
.i_custom_10 {width:100px; height:100px; background-position: -797px -1805px}
.i_custom_11 {width:60px; height:60px; background-position: -286px -980px}
.i_custom_12 {width:60px; height:60px; background-position: -346px -980px}
.i_custom_13 {width:60px; height:60px; background-position: -406px -980px}
.i_custom_14 {width:60px; height:60px; background-position: -466px -980px}
.i_custom_15 {width:60px; height:60px; background-position: -526px -980px}
.i_custom_17 {width:60px; height:60px; background-position: -586px -980px}
.i_custom_18 {width:60px; height:60px; background-position: -646px -980px}
.i_custom_19 {width:60px; height:60px; background-position: -706px -980px}
.i_custom_2 {width:60px; height:60px; background-position: -766px -980px}
.i_custom_20 {width:49px; height:55px; background-position: -794px -690px}
.i_custom_3 {width:60px; height:60px; background-position: -826px -980px}
.i_custom_4 {width:60px; height:60px; background-position: -886px -980px}
.i_custom_5 {width:60px; height:60px; background-position: -0px -1040px}
.i_custom_6 {width:60px; height:60px; background-position: -60px -1040px}
.i_custom_7 {width:60px; height:60px; background-position: -120px -1040px}
.i_custom_8 {width:60px; height:60px; background-position: -180px -1040px}
.i_custom_9 {width:60px; height:60px; background-position: -240px -1040px}
.jawsifier {width:56px; height:47px; background-position: -100px -281px}
.noroboro {width:65px; height:65px; background-position: -247px -1664px}
.note {width:49px; height:54px; background-position: -286px -690px}
.orange_delight {width:41px; height:42px; background-position: -260px -145px}
.phagee {width:65px; height:65px; background-position: -312px -1664px}
.qberia {width:65px; height:65px; background-position: -377px -1664px}
.qbolee {width:65px; height:65px; background-position: -442px -1664px}
.qflu {width:65px; height:65px; background-position: -507px -1664px}
.raybee {width:65px; height:65px; background-position: -572px -1664px}
.sharp_note {width:49px; height:54px; background-position: -335px -690px}
.sindrome {width:65px; height:65px; background-position: -637px -1664px}
.spikenosis {width:65px; height:65px; background-position: -702px -1664px}
.turkish_treat {width:46px; height:42px; background-position: -301px -145px}
