/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:b62e88cee08816fb17af5b12164dcb82:d8c937171850119cd7fdaf6281072595:db4702caf2029946dca1c4822af0970d$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../images/textures.png);}

.any_artifact {width:68px; height:68px; background-position: -273px -1822px}
.book_of_bic {width:33px; height:31px; background-position: -891px -0px}
.book_of_cas {width:33px; height:31px; background-position: -924px -0px}
.book_of_cu {width:33px; height:31px; background-position: -957px -0px}
.book_of_tles {width:33px; height:31px; background-position: -0px -31px}
.chocolate_caramel {width:44px; height:43px; background-position: -690px -140px}
.coconut_cruncher {width:52px; height:41px; background-position: -177px -140px}
.egg1 {width:38px; height:49px; background-position: -747px -320px}
.egg10 {width:38px; height:49px; background-position: -76px -369px}
.egg11 {width:38px; height:49px; background-position: -114px -369px}
.egg12 {width:38px; height:49px; background-position: -152px -369px}
.egg13 {width:38px; height:49px; background-position: -190px -369px}
.egg14 {width:38px; height:49px; background-position: -228px -369px}
.egg15 {width:38px; height:49px; background-position: -266px -369px}
.egg16 {width:38px; height:49px; background-position: -304px -369px}
.egg17 {width:38px; height:49px; background-position: -342px -369px}
.egg18 {width:38px; height:49px; background-position: -380px -369px}
.egg19 {width:38px; height:49px; background-position: -418px -369px}
.egg2 {width:38px; height:49px; background-position: -785px -320px}
.egg20 {width:38px; height:49px; background-position: -456px -369px}
.egg21 {width:38px; height:49px; background-position: -494px -369px}
.egg3 {width:38px; height:49px; background-position: -823px -320px}
.egg4 {width:38px; height:49px; background-position: -861px -320px}
.egg5 {width:38px; height:49px; background-position: -899px -320px}
.egg6 {width:38px; height:49px; background-position: -937px -320px}
.egg7 {width:38px; height:49px; background-position: -975px -320px}
.egg8 {width:38px; height:49px; background-position: -0px -369px}
.egg9 {width:38px; height:49px; background-position: -38px -369px}
.hard_peppermint {width:50px; height:45px; background-position: -0px -227px}
.i_001 {width:36px; height:53px; background-position: -47px -672px}
.i_00100_cropped {width:53px; height:62px; background-position: -102px -1194px}
.i_00101_cropped {width:53px; height:62px; background-position: -155px -1194px}
.i_00103_cropped {width:53px; height:62px; background-position: -208px -1194px}
.i_00104_cropped {width:27px; height:31px; background-position: -88px -31px}
.i_00105_cropped {width:53px; height:62px; background-position: -317px -1194px}
.i_00108_cropped {width:53px; height:62px; background-position: -370px -1194px}
.i_00109_cropped {width:53px; height:62px; background-position: -423px -1194px}
.i_00110_cropped {width:51px; height:51px; background-position: -0px -518px}
.i_00113_cropped {width:39px; height:38px; background-position: -187px -101px}
.i_00114_cropped {width:53px; height:62px; background-position: -476px -1194px}
.i_00115_cropped {width:53px; height:62px; background-position: -529px -1194px}
.i_00116_cropped {width:26px; height:20px; background-position: -0px -0px}
.i_00120_cropped {width:53px; height:62px; background-position: -582px -1194px}
.i_00121_cropped {width:53px; height:62px; background-position: -635px -1194px}
.i_00122_cropped {width:53px; height:62px; background-position: -688px -1194px}
.i_00124_cropped {width:53px; height:62px; background-position: -741px -1194px}
.i_00126_cropped {width:30px; height:25px; background-position: -150px -0px}
.i_00127_cropped {width:38px; height:35px; background-position: -260px -65px}
.i_00128_cropped {width:53px; height:62px; background-position: -794px -1194px}
.i_00129_cropped {width:53px; height:62px; background-position: -847px -1194px}
.i_00130_cropped {width:53px; height:62px; background-position: -900px -1194px}
.i_00131_cropped {width:53px; height:62px; background-position: -953px -1194px}
.i_00132_cropped {width:53px; height:60px; background-position: -934px -952px}
.i_00135_cropped {width:53px; height:62px; background-position: -0px -1256px}
.i_00136_cropped {width:53px; height:62px; background-position: -53px -1256px}
.i_00137_cropped {width:53px; height:62px; background-position: -106px -1256px}
.i_00138_cropped {width:53px; height:62px; background-position: -159px -1256px}
.i_00139_cropped {width:49px; height:54px; background-position: -881px -672px}
.i_00140_cropped {width:53px; height:62px; background-position: -290px -1256px}
.i_00141_cropped {width:26px; height:25px; background-position: -180px -0px}
.i_00142_cropped {width:29px; height:22px; background-position: -50px -0px}
.i_00143_cropped {width:28px; height:22px; background-position: -79px -0px}
.i_00144_cropped {width:24px; height:21px; background-position: -26px -0px}
.i_00145_cropped {width:53px; height:62px; background-position: -421px -1256px}
.i_00146_cropped {width:53px; height:62px; background-position: -474px -1256px}
.i_00147_cropped {width:53px; height:62px; background-position: -527px -1256px}
.i_00150_cropped {width:53px; height:62px; background-position: -580px -1256px}
.i_00158_cropped {width:53px; height:62px; background-position: -633px -1256px}
.i_00167_cropped {width:51px; height:61px; background-position: -502px -1132px}
.i_00171_cropped {width:52px; height:60px; background-position: -540px -1012px}
.i_00176_cropped {width:77px; height:74px; background-position: -941px -1822px}
.i_00177_cropped {width:47px; height:51px; background-position: -51px -518px}
.i_00178_cropped {width:52px; height:80px; background-position: -358px -1896px}
.i_00181_cropped {width:39px; height:44px; background-position: -390px -183px}
.i_00182_cropped {width:52px; height:62px; background-position: -842px -1256px}
.i_00184_cropped {width:51px; height:51px; background-position: -98px -518px}
.i_00185_cropped {width:31px; height:43px; background-position: -734px -140px}
.i_00186_cropped {width:30px; height:44px; background-position: -429px -183px}
.i_00187_cropped {width:35px; height:46px; background-position: -294px -272px}
.i_00188_cropped {width:52px; height:62px; background-position: -894px -1256px}
.i_00189_cropped {width:31px; height:45px; background-position: -298px -227px}
.i_00190_cropped {width:53px; height:62px; background-position: -946px -1256px}
.i_00191_cropped {width:52px; height:62px; background-position: -0px -1318px}
.i_002 {width:20px; height:39px; background-position: -676px -101px}
.i_00202_cropped {width:52px; height:62px; background-position: -52px -1318px}
.i_00203_cropped {width:52px; height:62px; background-position: -104px -1318px}
.i_00204_cropped {width:52px; height:62px; background-position: -156px -1318px}
.i_00215_cropped {width:52px; height:62px; background-position: -208px -1318px}
.i_00216_cropped {width:52px; height:62px; background-position: -260px -1318px}
.i_00217_cropped {width:26px; height:38px; background-position: -226px -101px}
.i_00219_cropped {width:53px; height:62px; background-position: -312px -1318px}
.i_00221_cropped {width:21px; height:38px; background-position: -252px -101px}
.i_00223_cropped {width:53px; height:62px; background-position: -365px -1318px}
.i_00224_cropped {width:21px; height:38px; background-position: -273px -101px}
.i_00225_cropped {width:48px; height:53px; background-position: -83px -672px}
.i_00229_cropped {width:21px; height:38px; background-position: -294px -101px}
.i_00230_cropped {width:53px; height:62px; background-position: -418px -1318px}
.i_00240_cropped {width:53px; height:62px; background-position: -471px -1318px}
.i_00252_cropped {width:51px; height:51px; background-position: -149px -518px}
.i_00253_cropped {width:31px; height:43px; background-position: -817px -140px}
.i_00254_cropped {width:31px; height:43px; background-position: -848px -140px}
.i_00255_cropped {width:35px; height:40px; background-position: -0px -140px}
.i_00256_cropped {width:42px; height:48px; background-position: -138px -320px}
.i_00257_cropped {width:51px; height:51px; background-position: -200px -518px}
.i_00258_cropped {width:51px; height:51px; background-position: -251px -518px}
.i_00259_cropped {width:51px; height:51px; background-position: -302px -518px}
.i_00260_cropped {width:51px; height:51px; background-position: -353px -518px}
.i_00261_cropped {width:51px; height:51px; background-position: -404px -518px}
.i_00262_cropped {width:51px; height:51px; background-position: -455px -518px}
.i_00263_cropped {width:51px; height:51px; background-position: -569px -518px}
.i_00264_cropped {width:51px; height:51px; background-position: -620px -518px}
.i_00265_cropped {width:51px; height:51px; background-position: -671px -518px}
.i_00266_cropped {width:51px; height:51px; background-position: -722px -518px}
.i_00267_cropped {width:51px; height:51px; background-position: -773px -518px}
.i_00277_cropped {width:30px; height:44px; background-position: -510px -183px}
.i_00278_cropped {width:30px; height:44px; background-position: -540px -183px}
.i_00279_cropped {width:51px; height:51px; background-position: -824px -518px}
.i_00280_cropped {width:52px; height:62px; background-position: -524px -1318px}
.i_00290_cropped {width:53px; height:62px; background-position: -576px -1318px}
.i_00291_cropped {width:51px; height:51px; background-position: -875px -518px}
.i_00292_cropped {width:52px; height:62px; background-position: -629px -1318px}
.i_00293_cropped {width:49px; height:58px; background-position: -244px -894px}
.i_00294_cropped {width:38px; height:36px; background-position: -666px -65px}
.i_00295_cropped {width:53px; height:62px; background-position: -741px -1318px}
.i_00296_cropped {width:56px; height:83px; background-position: -659px -1896px}
.i_00297_cropped {width:52px; height:61px; background-position: -731px -1132px}
.i_00299_cropped {width:53px; height:62px; background-position: -794px -1318px}
.i_003 {width:70px; height:63px; background-position: -432px -1628px}
.i_00300_cropped {width:51px; height:51px; background-position: -926px -518px}
.i_00301_cropped {width:52px; height:62px; background-position: -847px -1318px}
.i_00302_cropped {width:53px; height:62px; background-position: -899px -1318px}
.i_00303_cropped {width:53px; height:62px; background-position: -952px -1318px}
.i_00304_cropped {width:53px; height:62px; background-position: -0px -1380px}
.i_00306_cropped {width:66px; height:73px; background-position: -875px -1822px}
.i_00307_cropped {width:43px; height:38px; background-position: -431px -101px}
.i_00308_cropped {width:43px; height:38px; background-position: -474px -101px}
.i_00309_cropped {width:46px; height:56px; background-position: -669px -780px}
.i_00310_cropped {width:56px; height:50px; background-position: -757px -418px}
.i_00311_cropped {width:39px; height:45px; background-position: -393px -227px}
.i_00312_cropped {width:51px; height:51px; background-position: -0px -569px}
.i_00313_cropped {width:51px; height:51px; background-position: -51px -569px}
.i_00315_cropped {width:27px; height:33px; background-position: -506px -31px}
.i_00316_cropped {width:23px; height:29px; background-position: -720px -0px}
.i_00317_cropped {width:23px; height:28px; background-position: -506px -0px}
.i_00318_cropped {width:24px; height:28px; background-position: -529px -0px}
.i_00319_cropped {width:22px; height:28px; background-position: -553px -0px}
.i_00320_cropped {width:21px; height:29px; background-position: -743px -0px}
.i_00321_cropped {width:53px; height:62px; background-position: -53px -1380px}
.i_00322_cropped {width:51px; height:51px; background-position: -102px -569px}
.i_00323_cropped {width:52px; height:62px; background-position: -106px -1380px}
.i_00324_cropped {width:53px; height:62px; background-position: -158px -1380px}
.i_00325_cropped {width:51px; height:51px; background-position: -153px -569px}
.i_00326_cropped {width:52px; height:62px; background-position: -211px -1380px}
.i_00327_cropped {width:47px; height:47px; background-position: -696px -272px}
.i_00328_cropped {width:33px; height:40px; background-position: -90px -140px}
.i_00329_cropped {width:51px; height:51px; background-position: -251px -569px}
.i_00330_cropped {width:53px; height:62px; background-position: -263px -1380px}
.i_00331_cropped {width:53px; height:60px; background-position: -832px -1012px}
.i_00332_cropped {width:35px; height:46px; background-position: -329px -272px}
.i_00333_cropped {width:53px; height:57px; background-position: -195px -836px}
.i_00334_cropped {width:27px; height:27px; background-position: -428px -0px}
.i_00335_cropped {width:49px; height:54px; background-position: -0px -726px}
.i_00336_cropped {width:49px; height:54px; background-position: -49px -726px}
.i_00337_cropped {width:49px; height:54px; background-position: -98px -726px}
.i_00338_cropped {width:49px; height:54px; background-position: -147px -726px}
.i_00339_cropped {width:49px; height:54px; background-position: -196px -726px}
.i_00340_cropped {width:49px; height:54px; background-position: -245px -726px}
.i_00341_cropped {width:49px; height:54px; background-position: -294px -726px}
.i_00342_cropped {width:49px; height:54px; background-position: -343px -726px}
.i_00343_cropped {width:49px; height:54px; background-position: -392px -726px}
.i_00344_cropped {width:49px; height:54px; background-position: -441px -726px}
.i_00345_cropped {width:49px; height:54px; background-position: -490px -726px}
.i_00346_cropped {width:49px; height:54px; background-position: -539px -726px}
.i_00348_cropped {width:28px; height:43px; background-position: -943px -140px}
.i_00349_cropped {width:29px; height:36px; background-position: -905px -65px}
.i_00350_cropped {width:53px; height:62px; background-position: -316px -1380px}
.i_00351_cropped {width:53px; height:62px; background-position: -369px -1380px}
.i_00353_cropped {width:65px; height:81px; background-position: -541px -1896px}
.i_00354_cropped {width:41px; height:56px; background-position: -715px -780px}
.i_00355_cropped {width:46px; height:46px; background-position: -364px -272px}
.i_00356_cropped {width:37px; height:51px; background-position: -302px -569px}
.i_00357_cropped {width:53px; height:81px; background-position: -606px -1896px}
.i_00358_cropped {width:49px; height:58px; background-position: -388px -894px}
.i_00359_cropped {width:51px; height:80px; background-position: -490px -1896px}
.i_00360_cropped {width:31px; height:39px; background-position: -890px -101px}
.i_00362_cropped {width:17px; height:22px; background-position: -107px -0px}
.i_00363_cropped {width:53px; height:62px; background-position: -422px -1380px}
.i_00364_cropped {width:30px; height:37px; background-position: -119px -101px}
.i_00365_cropped {width:12px; height:30px; background-position: -853px -0px}
.i_00366_cropped {width:25px; height:31px; background-position: -115px -31px}
.i_00367_cropped {width:25px; height:31px; background-position: -140px -31px}
.i_00368_cropped {width:25px; height:31px; background-position: -165px -31px}
.i_00369_cropped {width:25px; height:31px; background-position: -190px -31px}
.i_00370_cropped {width:41px; height:45px; background-position: -967px -227px}
.i_00372_cropped {width:36px; height:46px; background-position: -410px -272px}
.i_00373_cropped {width:63px; height:45px; background-position: -0px -272px}
.i_00375_cropped {width:53px; height:62px; background-position: -475px -1380px}
.i_00376_cropped {width:45px; height:48px; background-position: -292px -320px}
.i_00391_cropped {width:53px; height:62px; background-position: -528px -1380px}
.i_00398_cropped {width:53px; height:62px; background-position: -581px -1380px}
.i_00399_cropped {width:53px; height:62px; background-position: -634px -1380px}
.i_004 {width:36px; height:66px; background-position: -938px -1756px}
.i_00400_cropped {width:53px; height:62px; background-position: -687px -1380px}
.i_00402_cropped {width:27px; height:28px; background-position: -575px -0px}
.i_00403_cropped {width:27px; height:28px; background-position: -602px -0px}
.i_00439_cropped {width:49px; height:55px; background-position: -205px -780px}
.i_00445_cropped {width:49px; height:55px; background-position: -254px -780px}
.i_00449_cropped {width:49px; height:54px; background-position: -636px -726px}
.i_00450_cropped {width:49px; height:54px; background-position: -685px -726px}
.i_00451_cropped {width:49px; height:55px; background-position: -303px -780px}
.i_00453_cropped {width:53px; height:62px; background-position: -740px -1380px}
.i_00454_cropped {width:53px; height:62px; background-position: -793px -1380px}
.i_00455_cropped {width:53px; height:62px; background-position: -846px -1380px}
.i_00456_cropped {width:35px; height:45px; background-position: -63px -272px}
.i_00498_cropped {width:53px; height:62px; background-position: -899px -1380px}
.i_00499_cropped {width:53px; height:62px; background-position: -952px -1380px}
.i_00501_cropped {width:53px; height:62px; background-position: -0px -1442px}
.i_00505_cropped {width:53px; height:62px; background-position: -53px -1442px}
.i_00506_cropped {width:53px; height:62px; background-position: -106px -1442px}
.i_00508_cropped {width:53px; height:62px; background-position: -159px -1442px}
.i_00521_cropped {width:28px; height:33px; background-position: -641px -31px}
.i_00524_cropped {width:53px; height:62px; background-position: -212px -1442px}
.i_00538_cropped {width:26px; height:33px; background-position: -669px -31px}
.i_00539_cropped {width:26px; height:33px; background-position: -695px -31px}
.i_00540_cropped {width:26px; height:33px; background-position: -721px -31px}
.i_00541_cropped {width:37px; height:38px; background-position: -517px -101px}
.i_00542_cropped {width:36px; height:31px; background-position: -215px -31px}
.i_00547_cropped {width:39px; height:32px; background-position: -401px -31px}
.i_00554_cropped {width:33px; height:32px; background-position: -440px -31px}
.i_00556_cropped {width:33px; height:32px; background-position: -473px -31px}
.i_00558_cropped {width:31px; height:28px; background-position: -629px -0px}
.i_00567_cropped {width:33px; height:31px; background-position: -251px -31px}
.i_00579_cropped {width:53px; height:62px; background-position: -265px -1442px}
.i_00581_cropped {width:31px; height:45px; background-position: -98px -272px}
.i_00583_cropped {width:26px; height:33px; background-position: -747px -31px}
.i_00584_cropped {width:26px; height:33px; background-position: -773px -31px}
.i_00585_cropped {width:53px; height:62px; background-position: -318px -1442px}
.i_00586_cropped {width:53px; height:62px; background-position: -371px -1442px}
.i_00587_cropped {width:51px; height:51px; background-position: -339px -569px}
.i_00588_cropped {width:51px; height:51px; background-position: -390px -569px}
.i_00589_cropped {width:51px; height:51px; background-position: -441px -569px}
.i_00591_cropped {width:52px; height:62px; background-position: -424px -1442px}
.i_00592_cropped {width:52px; height:62px; background-position: -476px -1442px}
.i_00593_cropped {width:52px; height:62px; background-position: -528px -1442px}
.i_00594_cropped {width:30px; height:44px; background-position: -798px -183px}
.i_00595_cropped {width:30px; height:44px; background-position: -828px -183px}
.i_00596_cropped {width:30px; height:44px; background-position: -858px -183px}
.i_00597_cropped {width:53px; height:62px; background-position: -580px -1442px}
.i_00598_cropped {width:53px; height:62px; background-position: -633px -1442px}
.i_00599_cropped {width:53px; height:62px; background-position: -686px -1442px}
.i_00600_cropped {width:51px; height:51px; background-position: -492px -569px}
.i_00601_cropped {width:51px; height:51px; background-position: -543px -569px}
.i_00602_cropped {width:51px; height:51px; background-position: -594px -569px}
.i_00603_cropped {width:30px; height:44px; background-position: -888px -183px}
.i_00604_cropped {width:30px; height:44px; background-position: -918px -183px}
.i_00605_cropped {width:31px; height:43px; background-position: -53px -183px}
.i_00607_cropped {width:53px; height:62px; background-position: -739px -1442px}
.i_00609_cropped {width:53px; height:62px; background-position: -792px -1442px}
.i_00610_cropped {width:53px; height:46px; background-position: -446px -272px}
.i_00611_cropped {width:53px; height:46px; background-position: -499px -272px}
.i_00612_cropped {width:51px; height:51px; background-position: -645px -569px}
.i_00613_cropped {width:52px; height:62px; background-position: -845px -1442px}
.i_00614_cropped {width:51px; height:51px; background-position: -696px -569px}
.i_00615_cropped {width:52px; height:62px; background-position: -897px -1442px}
.i_00616_cropped {width:51px; height:51px; background-position: -747px -569px}
.i_00617_cropped {width:52px; height:62px; background-position: -949px -1442px}
.i_00651_cropped {width:53px; height:62px; background-position: -0px -1504px}
.i_00652_cropped {width:53px; height:62px; background-position: -53px -1504px}
.i_00653_cropped {width:53px; height:62px; background-position: -106px -1504px}
.i_00654_cropped {width:51px; height:51px; background-position: -798px -569px}
.i_00655_cropped {width:51px; height:51px; background-position: -849px -569px}
.i_00656_cropped {width:51px; height:51px; background-position: -900px -569px}
.i_00657_cropped {width:52px; height:62px; background-position: -159px -1504px}
.i_00658_cropped {width:52px; height:62px; background-position: -211px -1504px}
.i_00659_cropped {width:52px; height:62px; background-position: -263px -1504px}
.i_00660_cropped {width:45px; height:52px; background-position: -551px -620px}
.i_00680_cropped {width:53px; height:62px; background-position: -315px -1504px}
.i_00684_cropped {width:53px; height:62px; background-position: -368px -1504px}
.i_00698_cropped {width:53px; height:62px; background-position: -421px -1504px}
.i_007 {width:59px; height:61px; background-position: -293px -1132px}
.i_00720_cropped {width:53px; height:62px; background-position: -474px -1504px}
.i_00722_cropped {width:53px; height:62px; background-position: -527px -1504px}
.i_00723_cropped {width:53px; height:62px; background-position: -580px -1504px}
.i_00724_cropped {width:53px; height:62px; background-position: -633px -1504px}
.i_00725_cropped {width:53px; height:62px; background-position: -686px -1504px}
.i_00726_cropped {width:53px; height:62px; background-position: -739px -1504px}
.i_00727_cropped {width:53px; height:62px; background-position: -792px -1504px}
.i_00728_cropped {width:53px; height:62px; background-position: -845px -1504px}
.i_00729_cropped {width:53px; height:62px; background-position: -898px -1504px}
.i_00730_cropped {width:53px; height:62px; background-position: -951px -1504px}
.i_00731_cropped {width:53px; height:62px; background-position: -0px -1566px}
.i_00732_cropped {width:53px; height:62px; background-position: -53px -1566px}
.i_00733_cropped {width:53px; height:62px; background-position: -106px -1566px}
.i_00734_cropped {width:53px; height:62px; background-position: -159px -1566px}
.i_00735_cropped {width:53px; height:62px; background-position: -212px -1566px}
.i_00736_cropped {width:53px; height:62px; background-position: -265px -1566px}
.i_00737_cropped {width:53px; height:62px; background-position: -318px -1566px}
.i_00738_cropped {width:53px; height:62px; background-position: -371px -1566px}
.i_00739_cropped {width:53px; height:62px; background-position: -424px -1566px}
.i_00740_cropped {width:53px; height:62px; background-position: -477px -1566px}
.i_00741_cropped {width:53px; height:62px; background-position: -530px -1566px}
.i_00742_cropped {width:53px; height:62px; background-position: -583px -1566px}
.i_00743_cropped {width:53px; height:62px; background-position: -636px -1566px}
.i_00744_cropped {width:53px; height:62px; background-position: -689px -1566px}
.i_00745_cropped {width:53px; height:62px; background-position: -742px -1566px}
.i_00746_cropped {width:53px; height:62px; background-position: -795px -1566px}
.i_008 {width:46px; height:45px; background-position: -50px -227px}
.i_00800_cropped {width:53px; height:62px; background-position: -848px -1566px}
.i_00856_cropped {width:71px; height:83px; background-position: -715px -1896px}
.i_00857_cropped {width:59px; height:41px; background-position: -279px -140px}
.i_00858_cropped {width:59px; height:42px; background-position: -544px -140px}
.i_00859_cropped {width:59px; height:43px; background-position: -84px -183px}
.i_00860_cropped {width:55px; height:44px; background-position: -948px -183px}
.i_00861_cropped {width:59px; height:47px; background-position: -743px -272px}
.i_00862_cropped {width:52px; height:51px; background-position: -951px -569px}
.i_00863_cropped {width:55px; height:58px; background-position: -437px -894px}
.i_00864_cropped {width:55px; height:41px; background-position: -338px -140px}
.i_00891_cropped {width:71px; height:49px; background-position: -55px -418px}
.i_00898_cropped {width:57px; height:55px; background-position: -352px -780px}
.i_00899_cropped {width:60px; height:58px; background-position: -492px -894px}
.i_009 {width:46px; height:45px; background-position: -96px -227px}
.i_00906_cropped {width:58px; height:61px; background-position: -783px -1132px}
.i_00907_cropped {width:57px; height:59px; background-position: -693px -952px}
.i_00908_cropped {width:56px; height:60px; background-position: -53px -1072px}
.i_00909_cropped {width:58px; height:61px; background-position: -841px -1132px}
.i_00910_cropped {width:57px; height:59px; background-position: -750px -952px}
.i_00911_cropped {width:56px; height:60px; background-position: -109px -1072px}
.i_00943_cropped {width:68px; height:63px; background-position: -930px -1628px}
.i_00945_cropped {width:26px; height:30px; background-position: -865px -0px}
.i_00946_cropped {width:65px; height:66px; background-position: -0px -1822px}
.i_00947_cropped {width:41px; height:65px; background-position: -377px -1756px}
.i_00949_cropped {width:67px; height:54px; background-position: -734px -726px}
.i_00950_cropped {width:38px; height:37px; background-position: -149px -101px}
.i_00955_cropped {width:52px; height:62px; background-position: -901px -1566px}
.i_00958_cropped {width:51px; height:36px; background-position: -934px -65px}
.i_00959_cropped {width:50px; height:35px; background-position: -298px -65px}
.i_00960_cropped {width:48px; height:34px; background-position: -0px -65px}
.i_00961_cropped {width:10px; height:28px; background-position: -660px -0px}
.i_00978_cropped {width:49px; height:34px; background-position: -48px -65px}
.i_00996_cropped {width:50px; height:68px; background-position: -341px -1822px}
.i_010 {width:46px; height:45px; background-position: -142px -227px}
.i_01003_cropped {width:55px; height:48px; background-position: -337px -320px}
.i_01004_cropped {width:57px; height:48px; background-position: -392px -320px}
.i_01028_cropped {width:75px; height:54px; background-position: -801px -726px}
.i_01030_cropped {width:50px; height:28px; background-position: -670px -0px}
.i_01032_cropped {width:72px; height:39px; background-position: -921px -101px}
.i_01082_cropped {width:45px; height:48px; background-position: -449px -320px}
.i_01083_cropped {width:45px; height:48px; background-position: -494px -320px}
.i_011 {width:51px; height:54px; background-position: -703px -672px}
.i_01101_cropped {width:62px; height:72px; background-position: -750px -1822px}
.i_012 {width:32px; height:58px; background-position: -693px -836px}
.i_013 {width:32px; height:58px; background-position: -725px -836px}
.i_014 {width:32px; height:58px; background-position: -757px -836px}
.i_01402_cropped {width:64px; height:56px; background-position: -756px -780px}
.i_01404_cropped {width:64px; height:54px; background-position: -876px -726px}
.i_01406_cropped {width:64px; height:52px; background-position: -596px -620px}
.i_01407_cropped {width:64px; height:47px; background-position: -802px -272px}
.i_01409_cropped {width:60px; height:62px; background-position: -953px -1566px}
.i_01418_cropped {width:67px; height:58px; background-position: -552px -894px}
.i_01419_cropped {width:62px; height:57px; background-position: -248px -836px}
.i_01420_cropped {width:53px; height:57px; background-position: -310px -836px}
.i_01421_cropped {width:53px; height:57px; background-position: -363px -836px}
.i_01422_cropped {width:53px; height:57px; background-position: -416px -836px}
.i_01423_cropped {width:62px; height:57px; background-position: -469px -836px}
.i_01424_cropped {width:53px; height:57px; background-position: -531px -836px}
.i_01425_cropped {width:53px; height:57px; background-position: -584px -836px}
.i_01448_cropped {width:72px; height:49px; background-position: -126px -418px}
.i_01449_cropped {width:67px; height:66px; background-position: -65px -1822px}
.i_01459_cropped {width:53px; height:62px; background-position: -0px -1628px}
.i_01460_cropped {width:53px; height:62px; background-position: -53px -1628px}
.i_01461_cropped {width:53px; height:62px; background-position: -106px -1628px}
.i_01462 {width:53px; height:62px; background-position: -159px -1628px}
.i_01462_cropped {width:53px; height:62px; background-position: -212px -1628px}
.i_01463_cropped {width:53px; height:62px; background-position: -265px -1628px}
.i_01464_cropped {width:53px; height:62px; background-position: -318px -1628px}
.i_01465_cropped {width:57px; height:58px; background-position: -619px -894px}
.i_01466_cropped {width:57px; height:58px; background-position: -676px -894px}
.i_01467_cropped {width:57px; height:58px; background-position: -733px -894px}
.i_01468_cropped {width:57px; height:58px; background-position: -790px -894px}
.i_01469_cropped {width:56px; height:58px; background-position: -847px -894px}
.i_01470_cropped {width:58px; height:58px; background-position: -903px -894px}
.i_01471_cropped {width:61px; height:58px; background-position: -0px -952px}
.i_01472_cropped {width:67px; height:58px; background-position: -61px -952px}
.i_01473_cropped {width:56px; height:58px; background-position: -128px -952px}
.i_01474_cropped {width:65px; height:58px; background-position: -184px -952px}
.i_01475_cropped {width:63px; height:59px; background-position: -807px -952px}
.i_01476_cropped {width:57px; height:58px; background-position: -249px -952px}
.i_01477_cropped {width:58px; height:58px; background-position: -306px -952px}
.i_01478_cropped {width:61px; height:58px; background-position: -364px -952px}
.i_01479_cropped {width:62px; height:58px; background-position: -425px -952px}
.i_01480_cropped {width:61px; height:58px; background-position: -487px -952px}
.i_01481_cropped {width:57px; height:58px; background-position: -548px -952px}
.i_01482_cropped {width:58px; height:55px; background-position: -409px -780px}
.i_01483_cropped {width:53px; height:56px; background-position: -820px -780px}
.i_01484_cropped {width:58px; height:56px; background-position: -873px -780px}
.i_01485_cropped {width:54px; height:56px; background-position: -931px -780px}
.i_01486_cropped {width:65px; height:50px; background-position: -919px -418px}
.i_01487_cropped {width:51px; height:49px; background-position: -198px -418px}
.i_01488_cropped {width:60px; height:48px; background-position: -539px -320px}
.i_01489_cropped {width:44px; height:47px; background-position: -866px -272px}
.i_01490_cropped {width:45px; height:48px; background-position: -599px -320px}
.i_01491_cropped {width:56px; height:52px; background-position: -660px -620px}
.i_01492_cropped {width:44px; height:46px; background-position: -552px -272px}
.i_01493_cropped {width:53px; height:49px; background-position: -249px -418px}
.i_01494_cropped {width:45px; height:53px; background-position: -302px -672px}
.i_01495_cropped {width:49px; height:50px; background-position: -0px -468px}
.i_01496_cropped {width:54px; height:48px; background-position: -644px -320px}
.i_01497_cropped {width:64px; height:53px; background-position: -347px -672px}
.i_01498_cropped {width:49px; height:50px; background-position: -49px -468px}
.i_01499_cropped {width:53px; height:50px; background-position: -98px -468px}
.i_01500_cropped {width:54px; height:50px; background-position: -151px -468px}
.i_01501_cropped {width:82px; height:49px; background-position: -302px -418px}
.i_01531_cropped {width:47px; height:55px; background-position: -467px -780px}
.i_01532_cropped {width:46px; height:53px; background-position: -411px -672px}
.i_01564_cropped {width:48px; height:50px; background-position: -205px -468px}
.i_01565_cropped {width:48px; height:50px; background-position: -253px -468px}
.i_01566_cropped {width:48px; height:50px; background-position: -301px -468px}
.i_01567_cropped {width:48px; height:50px; background-position: -349px -468px}
.i_01568_cropped {width:48px; height:50px; background-position: -397px -468px}
.i_01569_cropped {width:48px; height:50px; background-position: -445px -468px}
.i_01570_cropped {width:48px; height:50px; background-position: -493px -468px}
.i_01571_cropped {width:48px; height:50px; background-position: -541px -468px}
.i_01572_cropped {width:48px; height:50px; background-position: -589px -468px}
.i_01573_cropped {width:48px; height:50px; background-position: -637px -468px}
.i_01574_cropped {width:48px; height:50px; background-position: -685px -468px}
.i_01575_cropped {width:48px; height:50px; background-position: -733px -468px}
.i_01576_cropped {width:48px; height:50px; background-position: -781px -468px}
.i_01577_cropped {width:48px; height:50px; background-position: -829px -468px}
.i_01578_cropped {width:48px; height:50px; background-position: -877px -468px}
.i_01579_cropped {width:48px; height:50px; background-position: -925px -468px}
.i_016 {width:37px; height:35px; background-position: -144px -65px}
.i_01646_cropped {width:57px; height:53px; background-position: -457px -672px}
.i_01647_cropped {width:50px; height:51px; background-position: -0px -620px}
.i_01648_cropped {width:51px; height:51px; background-position: -50px -620px}
.i_01649_cropped {width:49px; height:52px; background-position: -716px -620px}
.i_01650_cropped {width:50px; height:51px; background-position: -101px -620px}
.i_01651_cropped {width:52px; height:52px; background-position: -765px -620px}
.i_01652_cropped {width:50px; height:49px; background-position: -384px -418px}
.i_01653_cropped {width:54px; height:49px; background-position: -434px -418px}
.i_01654_cropped {width:49px; height:48px; background-position: -698px -320px}
.i_01655_cropped {width:49px; height:49px; background-position: -488px -418px}
.i_01692_cropped {width:61px; height:64px; background-position: -454px -1691px}
.i_01693_cropped {width:63px; height:64px; background-position: -515px -1691px}
.i_01696_cropped {width:47px; height:64px; background-position: -578px -1691px}
.i_01697_cropped {width:47px; height:64px; background-position: -625px -1691px}
.i_01698_cropped {width:47px; height:64px; background-position: -672px -1691px}
.i_017 {width:38px; height:49px; background-position: -532px -369px}
.i_019 {width:51px; height:63px; background-position: -502px -1628px}
.i_021 {width:32px; height:58px; background-position: -789px -836px}
.i_022 {width:32px; height:58px; background-position: -821px -836px}
.i_023 {width:32px; height:58px; background-position: -853px -836px}
.i_024 {width:32px; height:58px; background-position: -885px -836px}
.i_025 {width:32px; height:58px; background-position: -917px -836px}
.i_026 {width:32px; height:58px; background-position: -949px -836px}
.i_028 {width:50px; height:49px; background-position: -570px -369px}
.i_029 {width:53px; height:75px; background-position: -0px -1896px}
.i_030 {width:37px; height:37px; background-position: -0px -101px}
.i_031 {width:49px; height:49px; background-position: -620px -369px}
.i_032 {width:51px; height:44px; background-position: -143px -183px}
.i_033 {width:45px; height:49px; background-position: -669px -369px}
.i_034 {width:51px; height:48px; background-position: -966px -272px}
.i_035 {width:43px; height:45px; background-position: -188px -227px}
.i_036 {width:59px; height:54px; background-position: -754px -672px}
.i_037 {width:44px; height:39px; background-position: -696px -101px}
.i_038 {width:31px; height:61px; background-position: -352px -1132px}
.i_039 {width:59px; height:61px; background-position: -383px -1132px}
.i_040 {width:49px; height:49px; background-position: -714px -369px}
.i_041 {width:67px; height:45px; background-position: -231px -227px}
.i_042 {width:35px; height:35px; background-position: -181px -65px}
.i_043 {width:52px; height:57px; background-position: -0px -836px}
.i_044 {width:31px; height:62px; background-position: -940px -1132px}
.i_045 {width:37px; height:55px; background-position: -49px -780px}
.i_046 {width:53px; height:56px; background-position: -563px -780px}
.i_047 {width:53px; height:56px; background-position: -616px -780px}
.i_048 {width:48px; height:48px; background-position: -0px -320px}
.i_049 {width:59px; height:58px; background-position: -0px -894px}
.i_050 {width:55px; height:31px; background-position: -33px -31px}
.i_051 {width:51px; height:72px; background-position: -699px -1822px}
.i_052 {width:44px; height:44px; background-position: -194px -183px}
.i_053 {width:60px; height:62px; background-position: -0px -1194px}
.i_054 {width:14px; height:57px; background-position: -52px -836px}
.i_055 {width:37px; height:37px; background-position: -37px -101px}
.i_056 {width:57px; height:64px; background-position: -0px -1691px}
.i_057 {width:39px; height:48px; background-position: -48px -320px}
.i_058 {width:49px; height:50px; background-position: -537px -418px}
.i_059 {width:42px; height:62px; background-position: -60px -1194px}
.i_060 {width:68px; height:54px; background-position: -813px -672px}
.i_061 {width:44px; height:35px; background-position: -216px -65px}
.i_062 {width:53px; height:36px; background-position: -348px -65px}
.i_063 {width:53px; height:36px; background-position: -401px -65px}
.i_064 {width:53px; height:36px; background-position: -454px -65px}
.i_065 {width:53px; height:36px; background-position: -507px -65px}
.i_066 {width:38px; height:44px; background-position: -238px -183px}
.i_067 {width:38px; height:44px; background-position: -276px -183px}
.i_068 {width:38px; height:44px; background-position: -314px -183px}
.i_069 {width:38px; height:44px; background-position: -352px -183px}
.i_070 {width:50px; height:63px; background-position: -553px -1628px}
.i_071 {width:50px; height:63px; background-position: -603px -1628px}
.i_072 {width:50px; height:63px; background-position: -653px -1628px}
.i_073 {width:50px; height:63px; background-position: -703px -1628px}
.i_074 {width:50px; height:63px; background-position: -753px -1628px}
.i_075 {width:44px; height:52px; background-position: -151px -620px}
.i_076 {width:44px; height:52px; background-position: -195px -620px}
.i_077 {width:44px; height:52px; background-position: -239px -620px}
.i_078 {width:47px; height:47px; background-position: -596px -272px}
.i_094 {width:38px; height:49px; background-position: -763px -369px}
.i_100 {width:42px; height:69px; background-position: -391px -1822px}
.i_101 {width:42px; height:69px; background-position: -433px -1822px}
.i_102 {width:42px; height:69px; background-position: -475px -1822px}
.i_103 {width:53px; height:36px; background-position: -560px -65px}
.i_104 {width:56px; height:62px; background-position: -261px -1194px}
.i_105 {width:63px; height:73px; background-position: -812px -1822px}
.i_106 {width:42px; height:69px; background-position: -517px -1822px}
.i_120 {width:60px; height:61px; background-position: -442px -1132px}
.i_138 {width:78px; height:78px; background-position: -280px -1896px}
.i_140 {width:78px; height:62px; background-position: -212px -1256px}
.i_141 {width:78px; height:62px; background-position: -343px -1256px}
.i_147 {width:75px; height:75px; background-position: -53px -1896px}
.i_149 {width:75px; height:75px; background-position: -128px -1896px}
.i_159 {width:60px; height:60px; background-position: -0px -1012px}
.i_160 {width:60px; height:60px; background-position: -60px -1012px}
.i_161 {width:60px; height:60px; background-position: -120px -1012px}
.i_162 {width:60px; height:60px; background-position: -180px -1012px}
.i_164 {width:60px; height:60px; background-position: -240px -1012px}
.i_165 {width:60px; height:60px; background-position: -300px -1012px}
.i_166 {width:60px; height:60px; background-position: -360px -1012px}
.i_167 {width:78px; height:62px; background-position: -686px -1256px}
.i_168 {width:78px; height:62px; background-position: -764px -1256px}
.i_169 {width:60px; height:60px; background-position: -420px -1012px}
.i_170 {width:60px; height:60px; background-position: -480px -1012px}
.i_175 {width:60px; height:60px; background-position: -592px -1012px}
.i_179 {width:60px; height:60px; background-position: -652px -1012px}
.i_197 {width:51px; height:52px; background-position: -283px -620px}
.i_198 {width:61px; height:61px; background-position: -553px -1132px}
.i_200 {width:61px; height:61px; background-position: -614px -1132px}
.i_201 {width:58px; height:58px; background-position: -59px -894px}
.i_202 {width:51px; height:52px; background-position: -334px -620px}
.i_204 {width:65px; height:65px; background-position: -768px -1691px}
.i_205 {width:80px; height:80px; background-position: -410px -1896px}
.i_206 {width:63px; height:63px; background-position: -803px -1628px}
.i_209 {width:77px; height:77px; background-position: -203px -1896px}
.i_220 {width:44px; height:54px; background-position: -930px -672px}
.i_221 {width:53px; height:36px; background-position: -613px -65px}
.i_222 {width:56px; height:50px; background-position: -586px -418px}
.i_223 {width:52px; height:49px; background-position: -801px -369px}
.i_224 {width:33px; height:49px; background-position: -853px -369px}
.i_225 {width:52px; height:43px; background-position: -765px -140px}
.i_226 {width:51px; height:50px; background-position: -642px -418px}
.i_227 {width:51px; height:48px; background-position: -87px -320px}
.i_242 {width:65px; height:65px; background-position: -833px -1691px}
.i_243 {width:65px; height:65px; background-position: -898px -1691px}
.i_244 {width:65px; height:65px; background-position: -0px -1756px}
.i_245 {width:65px; height:65px; background-position: -65px -1756px}
.i_246 {width:65px; height:65px; background-position: -130px -1756px}
.i_247 {width:65px; height:65px; background-position: -195px -1756px}
.i_258 {width:58px; height:64px; background-position: -57px -1691px}
.i_259 {width:55px; height:64px; background-position: -115px -1691px}
.i_260 {width:64px; height:50px; background-position: -693px -418px}
.i_261 {width:64px; height:57px; background-position: -66px -836px}
.i_262 {width:48px; height:64px; background-position: -170px -1691px}
.i_263 {width:63px; height:51px; background-position: -506px -518px}
.i_264 {width:53px; height:47px; background-position: -643px -272px}
.i_265 {width:51px; height:44px; background-position: -459px -183px}
.i_266 {width:50px; height:41px; background-position: -229px -140px}
.i_267 {width:47px; height:39px; background-position: -740px -101px}
.i_268 {width:54px; height:48px; background-position: -180px -320px}
.i_269 {width:40px; height:30px; background-position: -764px -0px}
.i_270 {width:52px; height:42px; background-position: -393px -140px}
.i_271 {width:60px; height:60px; background-position: -712px -1012px}
.i_273 {width:70px; height:70px; background-position: -559px -1822px}
.i_274 {width:65px; height:65px; background-position: -260px -1756px}
.i_275 {width:70px; height:70px; background-position: -629px -1822px}
.i_276 {width:60px; height:60px; background-position: -772px -1012px}
.i_280 {width:89px; height:49px; background-position: -886px -369px}
.i_281 {width:77px; height:67px; background-position: -196px -1822px}
.i_282 {width:55px; height:49px; background-position: -0px -418px}
.i_283 {width:57px; height:64px; background-position: -218px -1691px}
.i_284 {width:63px; height:58px; background-position: -117px -894px}
.i_285 {width:52px; height:65px; background-position: -325px -1756px}
.i_286 {width:56px; height:61px; background-position: -675px -1132px}
.i_287 {width:64px; height:34px; background-position: -799px -31px}
.i_288 {width:65px; height:57px; background-position: -130px -836px}
.i_289 {width:60px; height:64px; background-position: -275px -1691px}
.i_290 {width:52px; height:38px; background-position: -315px -101px}
.i_291 {width:64px; height:58px; background-position: -180px -894px}
.i_292 {width:64px; height:43px; background-position: -879px -140px}
.i_293 {width:60px; height:62px; background-position: -681px -1318px}
.i_294 {width:64px; height:38px; background-position: -367px -101px}
.i_295 {width:63px; height:64px; background-position: -335px -1691px}
.i_296 {width:64px; height:55px; background-position: -86px -780px}
.i_297 {width:64px; height:52px; background-position: -385px -620px}
.i_298 {width:64px; height:63px; background-position: -866px -1628px}
.i_299 {width:64px; height:45px; background-position: -329px -227px}
.i_300 {width:56px; height:64px; background-position: -398px -1691px}
.i_301 {width:61px; height:53px; background-position: -131px -672px}
.i_302 {width:55px; height:40px; background-position: -35px -140px}
.i_303 {width:74px; height:32px; background-position: -284px -31px}
.i_304 {width:60px; height:36px; background-position: -704px -65px}
.i_305 {width:57px; height:42px; background-position: -445px -140px}
.i_306 {width:45px; height:37px; background-position: -74px -101px}
.i_307 {width:56px; height:44px; background-position: -570px -183px}
.i_308 {width:44px; height:36px; background-position: -764px -65px}
.i_309 {width:43px; height:32px; background-position: -358px -31px}
.i_310 {width:43px; height:36px; background-position: -808px -65px}
.i_311 {width:26px; height:24px; background-position: -124px -0px}
.i_312 {width:43px; height:45px; background-position: -432px -227px}
.i_313 {width:58px; height:45px; background-position: -475px -227px}
.i_314 {width:62px; height:39px; background-position: -787px -101px}
.i_315 {width:50px; height:44px; background-position: -626px -183px}
.i_316 {width:63px; height:44px; background-position: -676px -183px}
.i_317 {width:63px; height:27px; background-position: -365px -0px}
.i_318 {width:78px; height:34px; background-position: -863px -31px}
.i_320 {width:54px; height:45px; background-position: -533px -227px}
.i_321 {width:41px; height:39px; background-position: -849px -101px}
.i_326 {width:52px; height:26px; background-position: -313px -0px}
.i_327 {width:31px; height:66px; background-position: -974px -1756px}
.i_328 {width:42px; height:42px; background-position: -502px -140px}
.i_329 {width:47px; height:51px; background-position: -204px -569px}
.i_341 {width:54px; height:36px; background-position: -851px -65px}
.i_342 {width:58px; height:33px; background-position: -533px -31px}
.i_343 {width:51px; height:52px; background-position: -449px -620px}
.i_344 {width:51px; height:27px; background-position: -455px -0px}
.i_345 {width:50px; height:33px; background-position: -591px -31px}
.i_346 {width:58px; height:34px; background-position: -941px -31px}
.i_347 {width:53px; height:25px; background-position: -206px -0px}
.i_348 {width:58px; height:48px; background-position: -234px -320px}
.i_349 {width:31px; height:58px; background-position: -293px -894px}
.i_350 {width:49px; height:30px; background-position: -804px -0px}
.i_354 {width:64px; height:60px; background-position: -885px -1012px}
.i_355 {width:64px; height:58px; background-position: -324px -894px}
.i_356 {width:40px; height:45px; background-position: -587px -227px}
.i_357 {width:40px; height:45px; background-position: -627px -227px}
.i_358 {width:40px; height:45px; background-position: -667px -227px}
.i_359 {width:40px; height:45px; background-position: -707px -227px}
.i_360 {width:40px; height:45px; background-position: -747px -227px}
.i_361 {width:40px; height:45px; background-position: -787px -227px}
.i_362 {width:40px; height:45px; background-position: -827px -227px}
.i_363 {width:40px; height:45px; background-position: -867px -227px}
.i_367 {width:59px; height:44px; background-position: -739px -183px}
.i_368 {width:60px; height:45px; background-position: -907px -227px}
.i_369 {width:50px; height:50px; background-position: -813px -418px}
.i_370 {width:53px; height:43px; background-position: -0px -183px}
.i_371 {width:56px; height:53px; background-position: -192px -672px}
.i_372 {width:39px; height:59px; background-position: -605px -952px}
.i_373 {width:51px; height:52px; background-position: -500px -620px}
.i_375 {width:55px; height:55px; background-position: -150px -780px}
.i_376 {width:53px; height:60px; background-position: -949px -1012px}
.i_377 {width:54px; height:53px; background-position: -248px -672px}
.i_379 {width:56px; height:50px; background-position: -863px -418px}
.i_380 {width:49px; height:59px; background-position: -644px -952px}
.i_383 {width:48px; height:54px; background-position: -588px -726px}
.i_675 {width:53px; height:60px; background-position: -0px -1072px}
.i_IMG_002 {width:51px; height:52px; background-position: -817px -620px}
.i_IMG_015 {width:47px; height:52px; background-position: -868px -620px}
.i_IMG_016 {width:61px; height:38px; background-position: -554px -101px}
.i_IMG_029 {width:51px; height:52px; background-position: -915px -620px}
.i_IMG_030 {width:51px; height:52px; background-position: -966px -620px}
.i_IMG_063 {width:57px; height:45px; background-position: -129px -272px}
.i_IMG_064 {width:57px; height:45px; background-position: -186px -272px}
.i_IMG_088 {width:56px; height:57px; background-position: -637px -836px}
.i_IMG_089 {width:60px; height:60px; background-position: -180px -1132px}
.i_IMG_091 {width:64px; height:66px; background-position: -132px -1822px}
.i_IMG_096 {width:47px; height:52px; background-position: -0px -672px}
.i_IMG_097 {width:61px; height:38px; background-position: -615px -101px}
.i_IMG_098 {width:54px; height:40px; background-position: -123px -140px}
.i_IMG_099 {width:61px; height:62px; background-position: -371px -1628px}
.i_IMG_100 {width:49px; height:64px; background-position: -719px -1691px}
.i_IMG_128 {width:51px; height:45px; background-position: -243px -272px}
.i_IMG_353 {width:63px; height:53px; background-position: -514px -672px}
.i_IMG_354 {width:63px; height:53px; background-position: -577px -672px}
.i_IMG_355 {width:63px; height:53px; background-position: -640px -672px}
.i_IMG_556 {width:54px; height:25px; background-position: -259px -0px}
.i_IMG_557 {width:47px; height:34px; background-position: -97px -65px}
.i_IMG_602 {width:64px; height:83px; background-position: -786px -1896px}
.i_IMG_609 {width:41px; height:61px; background-position: -899px -1132px}
.i_IMG_675 {width:53px; height:60px; background-position: -240px -1132px}
.i_IMG_788 {width:64px; height:59px; background-position: -870px -952px}
.i_custom_1 {width:60px; height:60px; background-position: -165px -1072px}
.i_custom_10 {width:100px; height:100px; background-position: -850px -1896px}
.i_custom_11 {width:60px; height:60px; background-position: -705px -1072px}
.i_custom_12 {width:60px; height:60px; background-position: -765px -1072px}
.i_custom_13 {width:60px; height:60px; background-position: -825px -1072px}
.i_custom_14 {width:60px; height:60px; background-position: -885px -1072px}
.i_custom_15 {width:60px; height:60px; background-position: -945px -1072px}
.i_custom_17 {width:60px; height:60px; background-position: -0px -1132px}
.i_custom_18 {width:60px; height:60px; background-position: -60px -1132px}
.i_custom_19 {width:60px; height:60px; background-position: -120px -1132px}
.i_custom_2 {width:60px; height:60px; background-position: -225px -1072px}
.i_custom_20 {width:49px; height:55px; background-position: -514px -780px}
.i_custom_3 {width:60px; height:60px; background-position: -285px -1072px}
.i_custom_4 {width:60px; height:60px; background-position: -345px -1072px}
.i_custom_5 {width:60px; height:60px; background-position: -405px -1072px}
.i_custom_6 {width:60px; height:60px; background-position: -465px -1072px}
.i_custom_7 {width:60px; height:60px; background-position: -525px -1072px}
.i_custom_8 {width:60px; height:60px; background-position: -585px -1072px}
.i_custom_9 {width:60px; height:60px; background-position: -645px -1072px}
.jawsifier {width:56px; height:47px; background-position: -910px -272px}
.noroboro {width:65px; height:65px; background-position: -418px -1756px}
.note {width:49px; height:54px; background-position: -940px -726px}
.orange_delight {width:41px; height:42px; background-position: -603px -140px}
.phagee {width:65px; height:65px; background-position: -483px -1756px}
.qberia {width:65px; height:65px; background-position: -548px -1756px}
.qbolee {width:65px; height:65px; background-position: -613px -1756px}
.qflu {width:65px; height:65px; background-position: -678px -1756px}
.raybee {width:65px; height:65px; background-position: -743px -1756px}
.sharp_note {width:49px; height:54px; background-position: -0px -780px}
.sindrome {width:65px; height:65px; background-position: -808px -1756px}
.spikenosis {width:65px; height:65px; background-position: -873px -1756px}
.turkish_treat {width:46px; height:42px; background-position: -644px -140px}
