/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:48fb3337ce608c346563cc296cd2dce7:054796a30ecb8d4b86479dd11aa92c60:db4702caf2029946dca1c4822af0970d$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../images/textures.png);}

.three_legged_stool {width:55px; height:58px; background-position: -1258px -187px}
.anvil {width:54px; height:58px; background-position: -1313px -187px}
.any_artifact {width:57px; height:66px; background-position: -483px -555px}
.any_artifact {width:60px; height:60px; background-position: -0px -246px}
.any_color_checker {width:60px; height:60px; background-position: -60px -246px}
.any_color_checker_stair {width:60px; height:60px; background-position: -120px -246px}
.any_color_cowl {width:60px; height:60px; background-position: -180px -246px}
.any_color_dye {width:60px; height:60px; background-position: -240px -246px}
.any_color_flower_skirt {width:60px; height:60px; background-position: -300px -246px}
.any_color_half_checker {width:60px; height:60px; background-position: -360px -246px}
.any_color_half_plaster {width:60px; height:60px; background-position: -420px -246px}
.any_color_pants {width:60px; height:60px; background-position: -480px -246px}
.any_color_plaster {width:60px; height:60px; background-position: -540px -246px}
.any_color_robe {width:60px; height:60px; background-position: -600px -246px}
.any_color_shirt {width:60px; height:60px; background-position: -660px -246px}
.any_color_tutu {width:60px; height:60px; background-position: -720px -246px}
.any_hammer {width:60px; height:60px; background-position: -780px -246px}
.any_tree_top {width:60px; height:60px; background-position: -840px -246px}
.any_trunk {width:60px; height:60px; background-position: -900px -246px}
.bark_block {width:53px; height:62px; background-position: -1248px -306px}
.barrel {width:35px; height:45px; background-position: -1567px -38px}
.basic_bumper {width:49px; height:55px; background-position: -649px -187px}
.basic_sentry {width:51px; height:52px; background-position: -1275px -134px}
.beeswax {width:44px; height:35px; background-position: -1272px -0px}
.big_jack_i {width:57px; height:55px; background-position: -698px -187px}
.big_jack_ii {width:60px; height:58px; background-position: -1367px -187px}
.black_dye {width:32px; height:58px; background-position: -1427px -187px}
.black_marble {width:53px; height:62px; background-position: -1301px -306px}
.black_marble_column {width:30px; height:44px; background-position: -986px -38px}
.black_marble_half_block {width:51px; height:51px; background-position: -1450px -83px}
.black_marble_stairs {width:52px; height:62px; background-position: -1354px -306px}
.black_official_sign {width:26px; height:33px; background-position: -990px -0px}
.blue_baseball_cap {width:57px; height:45px; background-position: -1602px -38px}
.blue_brick {width:53px; height:62px; background-position: -1406px -306px}
.blue_dye {width:32px; height:58px; background-position: -1459px -187px}
.blue_fadey_foam {width:42px; height:69px; background-position: -705px -555px}
.blue_flower {width:28px; height:22px; background-position: -50px -0px}
.blue_glass {width:52px; height:60px; background-position: -960px -246px}
.blue_magic_dust {width:53px; height:36px; background-position: -1476px -0px}
.blue_magic_gem {width:38px; height:44px; background-position: -1016px -38px}
.blue_marble {width:53px; height:62px; background-position: -1459px -306px}
.blue_marble_column {width:30px; height:44px; background-position: -1054px -38px}
.blue_marble_half_block {width:51px; height:51px; background-position: -1501px -83px}
.blue_marble_stairs {width:52px; height:62px; background-position: -1512px -306px}
.blue_paper_lantern {width:25px; height:31px; background-position: -503px -0px}
.blue_sofa {width:52px; height:62px; background-position: -1564px -306px}
.bomb {width:27px; height:27px; background-position: -180px -0px}
.bones {width:36px; height:46px; background-position: -204px -83px}
.book_of_bic {width:33px; height:31px; background-position: -528px -0px}
.book_of_cas {width:33px; height:31px; background-position: -561px -0px}
.book_of_cu {width:33px; height:31px; background-position: -594px -0px}
.book_of_tles {width:33px; height:31px; background-position: -627px -0px}
.boom_powder {width:61px; height:61px; background-position: -698px -306px}
.bouncy_block {width:49px; height:54px; background-position: -84px -187px}
.burnt_umber_pixel {width:53px; height:62px; background-position: -1616px -306px}
.candle {width:29px; height:36px; background-position: -1529px -0px}
.captured_fairy {width:63px; height:73px; background-position: -986px -555px}
.carrot {width:60px; height:60px; background-position: -1012px -246px}
.carrot_cake {width:55px; height:48px; background-position: -615px -83px}
.carrot_soup {width:57px; height:48px; background-position: -670px -83px}
.cash_register {width:45px; height:48px; background-position: -727px -83px}
.cedar_fence {width:31px; height:43px; background-position: -775px -38px}
.charcoal {width:37px; height:55px; background-position: -755px -187px}
.checkpoint {width:53px; height:62px; background-position: -1669px -306px}
.checkpoint_bumper {width:49px; height:54px; background-position: -133px -187px}
.chest {width:47px; height:51px; background-position: -1552px -83px}
.chest_sign {width:48px; height:34px; background-position: -1175px -0px}
.chick_hat {width:63px; height:53px; background-position: -1856px -134px}
.chicken_hat {width:63px; height:53px; background-position: -1919px -134px}
.chiliberries {width:43px; height:45px; background-position: -1659px -38px}
.chiliberry_cake {width:33px; height:32px; background-position: -853px -0px}
.chisel {width:59px; height:61px; background-position: -759px -306px}
.clay_block {width:53px; height:62px; background-position: -1722px -306px}
.clay_brick {width:53px; height:62px; background-position: -1775px -306px}
.clay_brick_cap {width:53px; height:62px; background-position: -1828px -306px}
.clay_lump {width:37px; height:35px; background-position: -1316px -0px}
.closed_sign {width:26px; height:33px; background-position: -1016px -0px}
.cloth {width:67px; height:45px; background-position: -1702px -38px}
.cloud {width:66px; height:73px; background-position: -1049px -555px}
.cloudy_potion {width:50px; height:63px; background-position: -1775px -492px}
.coal {width:46px; height:45px; background-position: -1769px -38px}
.coal_block {width:53px; height:62px; background-position: -1881px -306px}
.cobblestone {width:53px; height:62px; background-position: -1934px -306px}
.colored_checker {width:60px; height:60px; background-position: -1072px -246px}
.colored_checker_stair {width:60px; height:60px; background-position: -1132px -246px}
.colored_cowl {width:60px; height:60px; background-position: -1192px -246px}
.colored_flower_skirt {width:60px; height:60px; background-position: -1252px -246px}
.colored_glass {width:60px; height:60px; background-position: -1312px -246px}
.colored_half_checker {width:60px; height:60px; background-position: -1372px -246px}
.colored_half_plaster {width:60px; height:60px; background-position: -1432px -246px}
.colored_pants {width:60px; height:60px; background-position: -1492px -246px}
.colored_plaster {width:60px; height:60px; background-position: -1552px -246px}
.colored_plaster_stair {width:60px; height:60px; background-position: -1612px -246px}
.colored_robe {width:60px; height:60px; background-position: -1672px -246px}
.colored_shirt {width:60px; height:60px; background-position: -1732px -246px}
.colored_tutu {width:60px; height:60px; background-position: -1792px -246px}
.cooking_oil {width:60px; height:60px; background-position: -1852px -246px}
.corn {width:55px; height:52px; background-position: -1326px -134px}
.corn_bread {width:59px; height:42px; background-position: -716px -38px}
.cotton {width:59px; height:54px; background-position: -182px -187px}
.crate {width:53px; height:62px; background-position: -1987px -306px}
.crude_signpost {width:27px; height:31px; background-position: -660px -0px}
.crushed_artifact {width:58px; height:58px; background-position: -1491px -187px}
.cut_o_matik_5000 {width:71px; height:49px; background-position: -952px -83px}
.cyan_pixel {width:53px; height:62px; background-position: -0px -368px}
.dark_brick {width:53px; height:62px; background-position: -53px -368px}
.dark_purple_pixel {width:53px; height:62px; background-position: -106px -368px}
.dead_tree {width:21px; height:38px; background-position: -2001px -0px}
.decorative_mask {width:51px; height:52px; background-position: -1381px -134px}
.deep_green_pixel {width:53px; height:62px; background-position: -159px -368px}
.deluxe_watering_can {width:78px; height:62px; background-position: -212px -368px}
.desk_pot {width:26px; height:30px; background-position: -465px -0px}
.diamond {width:53px; height:62px; background-position: -290px -368px}
.diamond_stairs {width:52px; height:62px; background-position: -343px -368px}
.dice {width:49px; height:55px; background-position: -792px -187px}
.dirt {width:53px; height:62px; background-position: -395px -368px}
.distiller {width:65px; height:81px; background-position: -1658px -555px}
.double_mattress {width:53px; height:62px; background-position: -448px -368px}
.down_sign {width:21px; height:29px; background-position: -421px -0px}
.drinks_sign {width:50px; height:35px; background-position: -1353px -0px}
.egg_hat {width:63px; height:53px; background-position: -1982px -134px}
.eggplant {width:75px; height:75px; background-position: -1192px -555px}
.emerald {width:53px; height:62px; background-position: -501px -368px}
.emerald_stairs {width:52px; height:62px; background-position: -554px -368px}
.empty_jar {width:56px; height:62px; background-position: -606px -368px}
.expert_workbench {width:45px; height:49px; background-position: -1023px -83px}
.extractor {width:41px; height:56px; background-position: -890px -187px}
.fancy_cabinet {width:51px; height:80px; background-position: -1475px -555px}
.fancy_chair {width:37px; height:51px; background-position: -1599px -83px}
.fancy_road {width:53px; height:62px; background-position: -662px -368px}
.fancy_table {width:53px; height:57px; background-position: -1083px -187px}
.fancy_wood {width:53px; height:62px; background-position: -715px -368px}
.farm_egg {width:60px; height:60px; background-position: -1912px -246px}
.farm_hive {width:41px; height:45px; background-position: -1815px -38px}
.fern {width:63px; height:45px; background-position: -1856px -38px}
.fiber {width:80px; height:80px; background-position: -1526px -555px}
.fiber_rope {width:65px; height:65px; background-position: -377px -555px}
.fiery_potion {width:50px; height:63px; background-position: -1825px -492px}
.finial_sandstone {width:43px; height:38px; background-position: -0px -38px}
.finial_stone {width:43px; height:38px; background-position: -43px -38px}
.flour {width:60px; height:60px; background-position: -1972px -246px}
.forge {width:52px; height:80px; background-position: -1606px -555px}
.fridge {width:56px; height:83px; background-position: -1776px -555px}
.friend_sentry {width:51px; height:52px; background-position: -1432px -134px}
.fries {width:52px; height:51px; background-position: -1636px -83px}
.frostberries {width:45px; height:49px; background-position: -1068px -83px}
.frostberry_pie {width:39px; height:32px; background-position: -886px -0px}
.full_deluxe_watering_can {width:78px; height:62px; background-position: -768px -368px}
.full_milk_jug {width:60px; height:60px; background-position: -0px -306px}
.full_plasm_trap {width:78px; height:78px; background-position: -1397px -555px}
.full_watering_can {width:78px; height:62px; background-position: -846px -368px}
.fuse {width:63px; height:63px; background-position: -1875px -492px}
.ghost_dust {width:53px; height:36px; background-position: -1558px -0px}
.ghost_gum {width:47px; height:47px; background-position: -462px -83px}
.gizmo {width:51px; height:72px; background-position: -873px -555px}
.glass {width:53px; height:62px; background-position: -924px -368px}
.glue {width:36px; height:66px; background-position: -540px -555px}
.gold {width:49px; height:49px; background-position: -1113px -83px}
.gold_block {width:53px; height:62px; background-position: -977px -368px}
.gold_brick {width:53px; height:62px; background-position: -1030px -368px}
.gold_magic_dust {width:53px; height:36px; background-position: -1611px -0px}
.gold_magic_gem {width:38px; height:44px; background-position: -1084px -38px}
.gold_plate {width:51px; height:51px; background-position: -1688px -83px}
.golden_stairs {width:52px; height:62px; background-position: -1083px -368px}
.golden_wand {width:44px; height:52px; background-position: -1483px -134px}
.grass {width:53px; height:62px; background-position: -1135px -368px}
.green_dye {width:32px; height:58px; background-position: -1549px -187px}
.green_fadey_foam {width:42px; height:69px; background-position: -747px -555px}
.green_goop {width:53px; height:62px; background-position: -1188px -368px}
.green_official_sign {width:26px; height:33px; background-position: -1042px -0px}
.green_paper_lantern {width:25px; height:31px; background-position: -687px -0px}
.grey_checkers {width:53px; height:62px; background-position: -1241px -368px}
.grey_cowl {width:61px; height:62px; background-position: -1294px -368px}
.grey_flower_skirt {width:51px; height:45px; background-position: -1919px -38px}
.grey_pants {width:47px; height:52px; background-position: -1527px -134px}
.grey_pixel {width:53px; height:62px; background-position: -1355px -368px}
.grey_robe {width:49px; height:64px; background-position: -271px -555px}
.grey_shirt {width:61px; height:38px; background-position: -86px -38px}
.grey_tutu {width:54px; height:40px; background-position: -480px -38px}
.half_clay {width:51px; height:51px; background-position: -1739px -83px}
.half_coral {width:51px; height:51px; background-position: -1790px -83px}
.half_diamond {width:51px; height:51px; background-position: -1841px -83px}
.half_dirt {width:51px; height:51px; background-position: -1892px -83px}
.half_emerald {width:51px; height:51px; background-position: -1943px -83px}
.half_grass {width:51px; height:51px; background-position: -1994px -83px}
.half_mesa {width:51px; height:51px; background-position: -0px -134px}
.half_mountain_block {width:51px; height:51px; background-position: -51px -134px}
.half_mountain_grass {width:51px; height:51px; background-position: -102px -134px}
.half_ruby {width:51px; height:51px; background-position: -153px -134px}
.half_sand_block {width:51px; height:51px; background-position: -204px -134px}
.half_sandstone {width:51px; height:51px; background-position: -255px -134px}
.half_sandy_block {width:51px; height:51px; background-position: -306px -134px}
.half_sandy_brick {width:51px; height:51px; background-position: -357px -134px}
.half_snow_block {width:51px; height:51px; background-position: -408px -134px}
.half_tropic_grass {width:51px; height:51px; background-position: -459px -134px}
.harm_wand {width:60px; height:60px; background-position: -60px -306px}
.haunted_lamp_i {width:58px; height:61px; background-position: -818px -306px}
.haunted_lamp_ii {width:57px; height:59px; background-position: -1930px -187px}
.haunted_lamp_iii {width:56px; height:60px; background-position: -120px -306px}
.heal_bumper {width:49px; height:54px; background-position: -241px -187px}
.heal_wand {width:64px; height:66px; background-position: -576px -555px}
.healing_block {width:53px; height:62px; background-position: -1408px -368px}
.hint_sign {width:28px; height:33px; background-position: -1068px -0px}
.home_sign {width:49px; height:34px; background-position: -1223px -0px}
.honey {width:60px; height:60px; background-position: -176px -306px}
.horizontal_acceloring {width:46px; height:56px; background-position: -931px -187px}
.house_lamp {width:37px; height:38px; background-position: -147px -38px}
.ice {width:53px; height:62px; background-position: -1461px -368px}
.indigo_pixel {width:53px; height:62px; background-position: -1514px -368px}
.iron {width:46px; height:45px; background-position: -1970px -38px}
.iron_block {width:53px; height:62px; background-position: -1567px -368px}
.iron_pole {width:12px; height:30px; background-position: -491px -0px}
.iron_stairs {width:52px; height:62px; background-position: -1620px -368px}
.knife {width:57px; height:64px; background-position: -320px -555px}
.knock_back_wand {width:56px; height:57px; background-position: -1136px -187px}
.laser_cutter {width:60px; height:61px; background-position: -876px -306px}
.lava {width:53px; height:62px; background-position: -1672px -368px}
.left_sign {width:23px; height:28px; background-position: -207px -0px}
.life_block {width:53px; height:62px; background-position: -1725px -368px}
.life_force {width:77px; height:77px; background-position: -1320px -555px}
.light_blue_pixel {width:53px; height:62px; background-position: -1778px -368px}
.light_green_pixel {width:53px; height:62px; background-position: -1831px -368px}
.light_grey_pixel {width:53px; height:62px; background-position: -1884px -368px}
.lil_bed {width:68px; height:63px; background-position: -1938px -492px}
.magical_potion {width:50px; height:63px; background-position: -0px -555px}
.magnet {width:44px; height:44px; background-position: -1122px -38px}
.mashed_potatoes {width:31px; height:28px; background-position: -230px -0px}
.mattress {width:51px; height:51px; background-position: -510px -134px}
.mecho-spikes_blue {width:51px; height:51px; background-position: -561px -134px}
.mecho-spikes_yellow {width:51px; height:51px; background-position: -612px -134px}
.mesa {width:53px; height:62px; background-position: -1937px -368px}
.metal_ladder {width:31px; height:45px; background-position: -0px -83px}
.metal_plate {width:51px; height:51px; background-position: -663px -134px}
.mineral_deposit {width:75px; height:54px; background-position: -290px -187px}
.mirror {width:41px; height:65px; background-position: -442px -555px}
.mortar_and_pestle {width:50px; height:49px; background-position: -1162px -83px}
.mosaic_floor {width:53px; height:62px; background-position: -1990px -368px}
.mosaic_half_block {width:51px; height:51px; background-position: -714px -134px}
.mosaic_stairs {width:52px; height:62px; background-position: -0px -430px}
.mountain {width:53px; height:62px; background-position: -52px -430px}
.mountain_grass {width:53px; height:62px; background-position: -105px -430px}
.mud {width:53px; height:62px; background-position: -158px -430px}
.mud_cake {width:59px; height:41px; background-position: -602px -38px}
.nest {width:38px; height:35px; background-position: -1403px -0px}
.new_cabinet {width:49px; height:58px; background-position: -1581px -187px}
.new_wood_block {width:53px; height:62px; background-position: -211px -430px}
.new_wood_chair {width:35px; height:46px; background-position: -240px -83px}
.new_wood_column {width:30px; height:44px; background-position: -1166px -38px}
.new_wood_planks {width:51px; height:51px; background-position: -765px -134px}
.new_wood_shelves {width:53px; height:46px; background-position: -275px -83px}
.new_wood_stairs {width:52px; height:62px; background-position: -264px -430px}
.new_wood_table {width:53px; height:60px; background-position: -236px -306px}
.night_table {width:55px; height:41px; background-position: -661px -38px}
.note {width:49px; height:54px; background-position: -365px -187px}
.office_lamp {width:36px; height:31px; background-position: -712px -0px}
.oil {width:53px; height:62px; background-position: -316px -430px}
.old_cabinet {width:49px; height:58px; background-position: -1630px -187px}
.old_fence {width:31px; height:43px; background-position: -806px -38px}
.old_wood_block {width:53px; height:62px; background-position: -369px -430px}
.old_wood_chair {width:35px; height:46px; background-position: -328px -83px}
.old_wood_column {width:30px; height:44px; background-position: -1196px -38px}
.old_wood_shelves {width:53px; height:46px; background-position: -363px -83px}
.old_wood_table {width:53px; height:60px; background-position: -289px -306px}
.open_sign {width:26px; height:33px; background-position: -1096px -0px}
.orange_dye {width:32px; height:58px; background-position: -1679px -187px}
.orange_pixel {width:53px; height:62px; background-position: -422px -430px}
.palm_trunk {width:26px; height:38px; background-position: -184px -38px}
.paper {width:68px; height:54px; background-position: -414px -187px}
.park_bench {width:45px; height:52px; background-position: -1574px -134px}
.password_sentry {width:51px; height:52px; background-position: -1619px -134px}
.pedestrians_only {width:53px; height:62px; background-position: -475px -430px}
.persian_rug {width:53px; height:62px; background-position: -528px -430px}
.persian_rug_half_block {width:51px; height:51px; background-position: -816px -134px}
.persian_rug_stairs {width:52px; height:62px; background-position: -581px -430px}
.personal_sentry {width:51px; height:52px; background-position: -1670px -134px}
.phantom_foam {width:42px; height:69px; background-position: -789px -555px}
.phone {width:67px; height:54px; background-position: -482px -187px}
.pin {width:32px; height:32px; background-position: -925px -0px}
.pine_resin {width:37px; height:37px; background-position: -1859px -0px}
.pine_trunk {width:21px; height:38px; background-position: -210px -38px}
.pink_coral {width:53px; height:62px; background-position: -633px -430px}
.pink_dye {width:32px; height:58px; background-position: -1711px -187px}
.pink_flower {width:26px; height:25px; background-position: -124px -0px}
.pink_pixel {width:53px; height:62px; background-position: -686px -430px}
.pipe {width:31px; height:61px; background-position: -936px -306px}
.porcelain {width:35px; height:35px; background-position: -1441px -0px}
.potato {width:60px; height:60px; background-position: -342px -306px}
.prison_bars {width:31px; height:39px; background-position: -313px -38px}
.pulse_bomb {width:27px; height:28px; background-position: -261px -0px}
.pumpkin {width:60px; height:60px; background-position: -402px -306px}
.purple_dye {width:32px; height:58px; background-position: -1743px -187px}
.purple_magic_dust {width:53px; height:36px; background-position: -1664px -0px}
.purple_magic_gem {width:38px; height:44px; background-position: -1226px -38px}
.purple_paper_lantern {width:25px; height:31px; background-position: -748px -0px}
.qbee_bomb {width:27px; height:28px; background-position: -288px -0px}
.quicksand {width:53px; height:62px; background-position: -739px -430px}
.radio {width:38px; height:37px; background-position: -1896px -0px}
.red_baseball_cap {width:57px; height:45px; background-position: -31px -83px}
.red_brick {width:53px; height:62px; background-position: -792px -430px}
.red_brick_stairs {width:52px; height:62px; background-position: -845px -430px}
.red_dye {width:32px; height:58px; background-position: -1775px -187px}
.red_fadey_foam {width:42px; height:69px; background-position: -831px -555px}
.red_flower {width:29px; height:22px; background-position: -78px -0px}
.red_glass {width:51px; height:61px; background-position: -967px -306px}
.red_magic_dust {width:53px; height:36px; background-position: -1717px -0px}
.red_magic_gem {width:38px; height:44px; background-position: -1264px -38px}
.red_official_sign {width:26px; height:33px; background-position: -1122px -0px}
.red_paper_lantern {width:25px; height:31px; background-position: -773px -0px}
.red_pixel {width:53px; height:62px; background-position: -897px -430px}
.red_sofa {width:52px; height:62px; background-position: -950px -430px}
.refined_iron {width:53px; height:56px; background-position: -977px -187px}
.refined_iron_ball {width:61px; height:61px; background-position: -1018px -306px}
.refined_steel {width:53px; height:56px; background-position: -1030px -187px}
.rehydrator {width:53px; height:62px; background-position: -1002px -430px}
.ribbon {width:30px; height:25px; background-position: -150px -0px}
.right_sign {width:24px; height:28px; background-position: -315px -0px}
.rope {width:51px; height:54px; background-position: -549px -187px}
.rope_ladder {width:28px; height:43px; background-position: -837px -38px}
.round_neck_pot {width:35px; height:40px; background-position: -534px -38px}
.round_pot {width:42px; height:48px; background-position: -772px -83px}
.rubber {width:44px; height:39px; background-position: -344px -38px}
.rubber_band {width:55px; height:31px; background-position: -798px -0px}
.rubber_hose {width:59px; height:58px; background-position: -1807px -187px}
.ruby {width:53px; height:62px; background-position: -1055px -430px}
.ruby_stairs {width:52px; height:62px; background-position: -1108px -430px}
.sand {width:53px; height:62px; background-position: -1160px -430px}
.sandstone {width:53px; height:62px; background-position: -1213px -430px}
.sandstone_block_column {width:30px; height:44px; background-position: -1302px -38px}
.sandstone_column {width:30px; height:44px; background-position: -1332px -38px}
.sandy_block {width:53px; height:62px; background-position: -1266px -430px}
.sandy_block_stairs {width:52px; height:62px; background-position: -1319px -430px}
.sandy_brick {width:53px; height:62px; background-position: -1371px -430px}
.sandy_brick_stairs {width:52px; height:62px; background-position: -1424px -430px}
.saw {width:53px; height:75px; background-position: -1267px -555px}
.scrambled_eggs {width:59px; height:47px; background-position: -509px -83px}
.screwdriver {width:49px; height:50px; background-position: -1345px -83px}
.sculpty_new_wood {width:53px; height:62px; background-position: -1476px -430px}
.sculpty_old_wood {width:53px; height:62px; background-position: -1529px -430px}
.sewing_kit {width:70px; height:63px; background-position: -50px -555px}
.sharp_note {width:49px; height:54px; background-position: -600px -187px}
.shop_display {width:52px; height:62px; background-position: -1582px -430px}
.shop_sign {width:51px; height:36px; background-position: -1770px -0px}
.silver {width:49px; height:49px; background-position: -1212px -83px}
.silver_block {width:53px; height:62px; background-position: -1634px -430px}
.silver_plate {width:51px; height:51px; background-position: -867px -134px}
.silver_stairs {width:52px; height:62px; background-position: -1687px -430px}
.silvery_wand {width:44px; height:52px; background-position: -1721px -134px}
.sink {width:38px; height:36px; background-position: -1821px -0px}
.small_desk {width:65px; height:66px; background-position: -640px -555px}
.snot {width:53px; height:62px; background-position: -1739px -430px}
.snow {width:53px; height:62px; background-position: -1792px -430px}
.soil {width:53px; height:62px; background-position: -1845px -430px}
.solvent {width:42px; height:62px; background-position: -1898px -430px}
.spicy_potion {width:50px; height:63px; background-position: -120px -555px}
.spike_floor {width:51px; height:51px; background-position: -918px -134px}
.spirit_lamp_i {width:58px; height:61px; background-position: -1079px -306px}
.spirit_lamp_ii {width:57px; height:59px; background-position: -1987px -187px}
.spirit_lamp_iii {width:56px; height:60px; background-position: -462px -306px}
.spring {width:31px; height:62px; background-position: -1940px -430px}
.stainless_steel_block {width:53px; height:62px; background-position: -1971px -430px}
.stainless_steel_plate {width:51px; height:51px; background-position: -969px -134px}
.stainless_steel_stairs {width:52px; height:62px; background-position: -0px -492px}
.steel_block {width:53px; height:62px; background-position: -52px -492px}
.steel_cauldron {width:46px; height:46px; background-position: -416px -83px}
.steel_gear {width:47px; height:47px; background-position: -568px -83px}
.steel_hammer {width:60px; height:62px; background-position: -105px -492px}
.steel_plate {width:51px; height:51px; background-position: -1020px -134px}
.steel_rod {width:14px; height:57px; background-position: -1192px -187px}
.steel_stairs {width:52px; height:62px; background-position: -165px -492px}
.sticks {width:36px; height:53px; background-position: -0px -187px}
.stone {width:46px; height:45px; background-position: -88px -83px}
.stone_block {width:53px; height:62px; background-position: -217px -492px}
.stone_brick {width:53px; height:62px; background-position: -270px -492px}
.stone_brick_cap {width:53px; height:62px; background-position: -323px -492px}
.stone_column {width:30px; height:44px; background-position: -1362px -38px}
.stone_cross {width:33px; height:40px; background-position: -569px -38px}
.stone_fence {width:31px; height:43px; background-position: -865px -38px}
.stone_half_block {width:51px; height:51px; background-position: -1071px -134px}
.stone_hammer {width:51px; height:63px; background-position: -170px -555px}
.stone_stairs {width:52px; height:62px; background-position: -376px -492px}
.stop_sign {width:23px; height:29px; background-position: -442px -0px}
.stove {width:52px; height:61px; background-position: -1137px -306px}
.street_light {width:30px; height:37px; background-position: -1934px -0px}
.string {width:59px; height:61px; background-position: -1189px -306px}
.sugar {width:60px; height:60px; background-position: -518px -306px}
.sugarcane {width:71px; height:83px; background-position: -1832px -555px}
.sulfur {width:50px; height:28px; background-position: -339px -0px}
.sunberries {width:51px; height:48px; background-position: -814px -83px}
.sunny_potion {width:50px; height:63px; background-position: -221px -555px}
.sunny_side_up_eggs {width:59px; height:43px; background-position: -896px -38px}
.tacks {width:37px; height:37px; background-position: -1964px -0px}
.tan_pixel {width:53px; height:62px; background-position: -428px -492px}
.tech_workbench {width:46px; height:49px; background-position: -1261px -83px}
.terracotta_half_block {width:51px; height:51px; background-position: -1122px -134px}
.terracotta_stairs {width:52px; height:62px; background-position: -481px -492px}
.terracotta_tiles {width:53px; height:62px; background-position: -533px -492px}
.thorns {width:20px; height:39px; background-position: -388px -38px}
.thorny_vines {width:72px; height:39px; background-position: -408px -38px}
.throne {width:53px; height:81px; background-position: -1723px -555px}
.toilet {width:39px; height:44px; background-position: -1392px -38px}
.tomato {width:60px; height:60px; background-position: -578px -306px}
.torch {width:17px; height:22px; background-position: -107px -0px}
.trash_can {width:39px; height:45px; background-position: -134px -83px}
.tree_leaves {width:48px; height:53px; background-position: -36px -187px}
.tree_trunk {width:21px; height:38px; background-position: -231px -38px}
.trick_dice {width:49px; height:55px; background-position: -841px -187px}
.trop_grass {width:53px; height:62px; background-position: -586px -492px}
.tropical_grass {width:53px; height:62px; background-position: -639px -492px}
.up_sign {width:22px; height:28px; background-position: -389px -0px}
.varnish {width:39px; height:48px; background-position: -865px -83px}
.veggie_omelette {width:55px; height:44px; background-position: -1431px -38px}
.vertical_acceloring {width:56px; height:50px; background-position: -1394px -83px}
.vulcanized_rubber {width:48px; height:48px; background-position: -904px -83px}
.warning_sign {width:27px; height:33px; background-position: -1148px -0px}
.warp_anchor {width:53px; height:62px; background-position: -692px -492px}
.water {width:53px; height:62px; background-position: -745px -492px}
.watering_can {width:78px; height:62px; background-position: -798px -492px}
.wet_cement {width:53px; height:62px; background-position: -876px -492px}
.wet_paste {width:53px; height:62px; background-position: -929px -492px}
.wheat_bundle {width:60px; height:60px; background-position: -638px -306px}
.white_curve_road {width:53px; height:62px; background-position: -982px -492px}
.white_divider_road {width:53px; height:62px; background-position: -1035px -492px}
.white_dye {width:32px; height:58px; background-position: -1866px -187px}
.white_fence {width:31px; height:43px; background-position: -955px -38px}
.white_flower {width:26px; height:20px; background-position: -0px -0px}
.white_lattice {width:53px; height:62px; background-position: -1088px -492px}
.white_marble {width:53px; height:62px; background-position: -1141px -492px}
.white_marble_column {width:30px; height:44px; background-position: -1486px -38px}
.white_marble_half_block {width:51px; height:51px; background-position: -1173px -134px}
.white_marble_stairs {width:52px; height:62px; background-position: -1194px -492px}
.white_pants {width:47px; height:52px; background-position: -1765px -134px}
.white_pixel {width:53px; height:62px; background-position: -1246px -492px}
.white_plaster {width:53px; height:62px; background-position: -1299px -492px}
.white_shirt {width:61px; height:38px; background-position: -252px -38px}
.white_stripe_road {width:53px; height:62px; background-position: -1352px -492px}
.whittled_stick {width:44px; height:52px; background-position: -1812px -134px}
.wild_egg {width:38px; height:49px; background-position: -1307px -83px}
.wind_machine {width:53px; height:62px; background-position: -1405px -492px}
.wizards_workbench {width:62px; height:72px; background-position: -924px -555px}
.wood_ladder {width:31px; height:45px; background-position: -173px -83px}
.wood_lattice {width:53px; height:62px; background-position: -1458px -492px}
.wood_planks {width:51px; height:51px; background-position: -1224px -134px}
.wood_post {width:10px; height:28px; background-position: -411px -0px}
.wood_stairs {width:52px; height:62px; background-position: -1511px -492px}
.workbench {width:77px; height:74px; background-position: -1115px -555px}
.wrench {width:52px; height:57px; background-position: -1206px -187px}
.yellow_curve_road {width:53px; height:62px; background-position: -1563px -492px}
.yellow_divider_road {width:53px; height:62px; background-position: -1616px -492px}
.yellow_dye {width:32px; height:58px; background-position: -1898px -187px}
.yellow_flower {width:24px; height:21px; background-position: -26px -0px}
.yellow_pixel {width:53px; height:62px; background-position: -1669px -492px}
.yellow_stripe_road {width:53px; height:62px; background-position: -1722px -492px}
.yumberries {width:51px; height:44px; background-position: -1516px -38px}
.yumberry_cake {width:33px; height:32px; background-position: -957px -0px}
