html{
	background-color: #3867d6;
	background-image:url("stars.png");
	padding: 0px;
	font-family: "Calibri";
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
@font-face {
	font-family: Calibri;
	src: url('calibri.ttf') format('truetype');
}
@font-face {
	font-family: Luckiest Guy;
	src: url('luckiest-guy.ttf') format('truetype');
}
body {
	overflow: hidden;
}
#recipeTable  {
	position: relative;
	top: 10px;
	left: 50%;
	width: 80%;
	transform: translate(-50%);
	text-align: center;
	font-weight: bold;
	border-collapse: collapse;
	color: white;
	margin-bottom: 100px;
}
#recipeTable tr:nth-child(even) {
	background-color: none;
	font-family: "Calibri";
}
#recipeTable tr:nth-child(odd) {
	background-color: rgba(75, 123, 236,.4);
	font-family: "Calibri";
}
#recipeTable td:nth-last-child(1) {
	width: 100px;
}
#recipeTable td:nth-last-child(2) {
	width: 100px;
}
th, td {
	position: relative;
	padding: 15px;
	text-align: center;
	font-family: "Calibri";
	align-items: center;
	align-content: center;
}
th img {
	height: 50px;
	filter: drop-shadow( 3px 6px rgba(43, 42, 66, 0.7));
}
th {

}
#recipeTable th {
	background-color: #325dc1;
	color: white;
	font-size: 40px;
	text-align: left;
	font-family: "Luckiest Guy";
	letter-spacing: 1px;
	text-shadow: 3px 3px rgba(43, 42, 66, 0.7);
}
#ITEMCARD {
	position: relative;
	bottom: 0px;
	padding: 5px;
	margin-bottom: 2px;
	width: 70px;
	display: table-cell;
	vertical-align: top;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
#CRAFTCARD {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
#PLUS {
	position: relative;
	bottom: 0px;
	padding: 5px;
	margin: 2px 2px 2px 2px;
	display: table-cell;
	min-height: 90px;
	vertical-align: bottom;
	vertical-align: middle;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
.searchbar {
	position: relative;
	display: table-cell;
	left: 0px;
	width: 200px;
	padding: 5px;
	height: 25px;
	border: solid 1px #1c346d;
	outline: none;
	color: #4c4c4c;
	vertical-align: middle;
	margin: 5px 2px 5px 2px;
	float: left;
	border-radius: 5px;
	border: solid 2px #1f3a7a;
}
.quantitybar {
	position: relative;
	display: table-cell;
	float: left;
	left: 0px;
	width: 50px;
	padding: 5px;
	height: 25px;
	border: solid 1px #1c346d;
	outline: none;
	color: #4c4c4c;
	vertical-align: middle;
	margin: 5px 2px 5px 2px;
	border-radius: 5px;
	border: solid 2px #1f3a7a;
}
.searchbar:focus{
	color: black;
}
.quantitybar:focus{
	color: black;
}
.sidebar {
	overflow: hidden;
	position: fixed;
	z-index: 1;
	width: 300px;
	height: 100%;
	top: 0px;
	left:-250px;
	background-color: #262626;
	align-items: right;
	transition: 0.4s;
	display: none;
}
.sidebar:hover {
	left: 0px;
}
.sidebar img {
	position: absolute;
	height: auto;
	width: auto;
	top: 9px;
	right: 9px;
	filter: invert(100%);
}
.sidebar a {
	position: relative;
	display: block;
	width: 250px;
	vertical-align: middle;
	color: white;
	padding:20px 5px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #6b6b6b;
}
.navbar {
	position: absolute;
	z-index: 1;
	width: 100%;
	left: 0px;
	top: 0px;
	height: 50px;
	background-color: #2a4ea3;
}
.navbar a {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	color: white;
	float: left;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	transition-duration: 0.2s;
	margin-right: 10px;
}
.navbar a:hover {
	background-color: #4b7bec;
}
.links {
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
}
.links img {
	transform: translate(-50%,-50%);
	position: absolute;
	top: 50%;
	left: 50%;
	max-height: 45px !important;
	max-width: 45px;
	
}
.sidebar a:hover{
	background-color: black;
	color: white;
}
#ITEMCARD .quantity {
	position: absolute;
	color: black;
	top: -15px;
	left: -5px;
	background-color: white;
	border: solid 2px black;
	border-radius: 50px;
	min-width: 25px;
	width: auto;
	height: 25px;
	text-align: center;
	vertical-align: bottom;
	padding-left: 1px;
	padding-right: 1px;
}
#CRAFTCARD .quantity {
	position: absolute;
	color: black;
	top: -5px;
	left: 5px;
	background-color: white;
	border: solid 2px black;
	border-radius: 50px;
	min-width: 25px;
	width: auto;
	height: 25px;
	text-align: center;
	vertical-align: bottom;
	padding-left: 1px;
	padding-right: 1px;
}
#ITEMCARD .image {
	position: relative;
	min-height: 65px;
}
#CRAFTCARD .image {
	position: relative;
}
img:not(.corner){
	max-height: 65px;
}
.OriginalValue {
	display: none;
}
.TimeValue {
	display: none;
}
.zap {
	height: 15px;
}
#table {
	position: absolute;
	overflow-y: scroll;
	overflow-x: hidden;
	height: calc(100% - 50px);
	top: 50px;
	width: 100%;
	left: 0px;
}
footer {
	position: absolute;
	color: #2a4ea3;
	font-size: 12px;
	text-align: center;
	bottom: 0px;
	right: 10px;
	padding-bottom: 5px;
}
footer a {
	color: #2a4ea3;
	font-weight: bold;
	text-decoration: none;
}
.pin {
	display: none;
}
.pin + .pinl {
	position: absolute;
	right: 2px;
	top: 2px;
	height: 32px;
	width: 32px;
	cursor: pointer;
	z-index: 1;
	background-image: url("images/pin.png")
}
.pin:checked + .pinl {
	background-image: url("images/pinned.png")
}
::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-track {
	background: none; 
}
::-webkit-scrollbar-thumb {
	background: rgba(37,84,89,0.5); 
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(37,84,89,1); 
}
.more {
	display: none;
}
.less {
	display: none;
}
.border {
	position: absolute;
	height: 100%;
	width: 18px;
	display: none;
	right: -18px;
	background-image: url("images/navbarside.png");
	background-repeat: repeat;
}
.clouds {
	position:  absolute;
	bottom: 0px;
	width: 100%;
	height: 80px;
	left: 0px;
	background-image: url("clouds.png");
}
#loader {
	position: absolute;
	background-image:url("stars.png");
	background-color: #3867d6;
	width: 100%;
	height: 100%;
	z-index: 998;
	padding: 0px;
	top:0px;
	left: 0px;
	opacity: 1;
	transition-duration: 0.5s;
}
#loader img {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	filter: drop-shadow(5px 5px 0px rgba(0,0,0,.2));
}
#loader p {
	position: absolute;
	color: #fff;
	font-family: "Luckiest Guy";
	z-index: 999;
	transform: translate(-50%, -50%);
	top: Calc(50% + 40px);
	left: 50%;
	text-shadow: 2px 2px 0px rgba(0,0,0,.2);
	font-size: 20px;
	letter-spacing: 1px;

}
@media screen and (max-width:950px) {
	#recipeTable  {
		position: relative;
		width: 100%;
		font-size: 7px;
		left: 50%;
	}
	#recipeTable th {
		font-size: 20px;
		letter-spacing: 2px;
	}
	#recipeTable td:nth-last-child(1) {
		width: 30px;
	}
	#recipeTable td:nth-last-child(2) {
		width: 30px;
	}
	#ITEMCARD {
		position: relative;
		bottom: 0px;
		padding: 5px;
		margin-bottom: 1px;
		width: 30px;
		display: table-cell;
		vertical-align: bottom;
	}
	#CRAFTCARD {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
		text-align: center;
	}
	img:not(.corner) {
		height: 20px;
	}
	#ITEMCARD .quantity {
		position: absolute;
		top: -5px;
		left: -5px;
		background-color: white;
		border: solid 1px black;
		border-radius: 50px;
		min-width: 10px;
		width: auto;
		height: 10px;
		text-align: center;
		vertical-align: bottom;
	}
	#ITEMCARD .image {
		position: relative;
		min-height: 25px;
	}
	#CRAFTCARD .quantity {
		position: absolute;
		top: -5px;
		left: 5px;
		background-color: white;
		border: solid 1px black;
		border-radius: 50px;
		min-width: 10px;
		width: auto;
		height: 10px;
		text-align: center;
		vertical-align: bottom;
	}
	.zap {
		height: 7px;
	}
	.links {
		height: 100%;
	}
	.searchbar {
	position: fixed;
	display: table-cell;
	left: 70px;
	bottom: 0px;
	width: 200px;
	padding: 5px;
	height: 20px;
	border: solid 1px #1c346d;
	outline: none;
	color: #4c4c4c;
	vertical-align: middle;
	margin: 5px 2px 5px 2px;
	border-radius: 5px;
	border: solid 2px #1f3a7a;
	float: left;
}
.quantitybar {
	position: fixed;
	display: table-cell;
	left: 0px;
	bottom: 0px;
	width: 50px;
	padding: 5px;
	height: 20px;
	border: solid 1px #1c346d;
	outline: none;
	color: #4c4c4c;
	vertical-align: middle;
	margin: 5px 2px 5px 2px;
	border-radius: 5px;
	border: solid 2px #1f3a7a;
	float: none;
}
	#table {
		width: 100%;
		border-left: none;
	}
	.pin + .pinl {
		background-size: 16px;
		width: 16px;
		height: 16px;
	}
	.navbar {
	height: 35px;
}
.links {
	width: 100%;
	bottom: 0px;
}
	.navbar a {
	width: 35px;
	height: 100%;
	margin-right: 0px;
}
.navbar a:hover {
	background: none;
}
}
