html{
	background-image:url("bknd.png");
	background-color: black;
	height: 100%;
	background-attachment: fixed;
	background-position: left top;
	background-repeat: repeat;
	padding: 0;
	font-family: "ubuntu";
}
@font-face {
  font-family: ubuntu;
  src: url('Ubuntu-R.ttf')  format('truetype');
}
#recipeTable  {
	position: relative;
    width:50%;
	margin-left: -25%;
	margin-top: 0px;
	left: 50%;
	top: 10px;
	text-align: center;
	font-weight: bold;
}
#recipeTable tr:nth-child(even) {
    background-color: #eee;
	font-family: "ubuntu";
}
#recipeTable tr:nth-child(odd) {
    background-color: #fff;
	font-family: "ubuntu";
}
#recipeTable td:nth-last-child {
	width: 100px;
}
#recipeTable td:nth-child(2) {
	width: 100px;
}
th, td {
    padding: 15px;
    text-align: center;
	font-family: "ubuntu";
	align-items: center;
	align-content: center;
}
#recipeTable th {
    background-color: #494949;
    color: white;
}
#ITEMCARD {
    position: relative;
	bottom: 0px;
    padding: 5px;
    margin: 2px 2px 2px 2px;
	display: table-cell;
	min-height: 90px;
	vertical-align: bottom;
}
#PLUS {
	position: relative;
	bottom: 0px;
    padding: 5px;
    margin: 2px 2px 2px 2px;
	display: table-cell;
	min-height: 90px;
	vertical-align: bottom;
	vertical-align: middle;
}
.searchbar {
	position: relative;
	left: 10px;
	width: 200px;
	border: 3px solid #202020;
	padding: 5px;
	height: 20px;
	border-radius: 50px;
	outline: none;
	color: #9DBFAF;
	vertical-align: middle;
	margin: 5px 5px 5px 5px;
}
.searchbar:focus{
	color: black;
}
.navbar {
	overflow: hidden;
	position: fixed;
	z-index: 1;
	width: 300px;
	height: 100%;
	top: 0px;
	left:-250px;
	background-color: #262626;
	align-items: right;
	transition: 0.4s;
}
.navbar:hover {
	left: 0px;
}
.navbar img {
	position: absolute;
	height: auto;
	width: auto;
	top: 9px;
	right: 9px;
	filter: invert(100%);
}
.navbar a {
	position: relative;
	display: block;
	width: 250px;
	vertical-align: middle;
	color: white;
	padding:20px 5px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #6b6b6b;
}

.links {
	position: relative;
	width: 250px;
	overflow: hidden;
}
.navbar a:hover{
	background-color: black;
	color: white;
}
@media screen and (max-width:700px) {
.links {
	height: 90%;
	overflow-y: scroll;
}
#recipeTable  {
	position: relative;
    width:100%;
	margin-top: 0px;
	margin-left: 0px;
	right: 0%;
	font-size: 7px;
}
#recipeTable td:nth-last-child {
	width: 50px;
}
#recipeTable td:nth-child(2) {
	width: 50px;
}
#ITEMCARD {
    position: relative;
	bottom: 0px;
    padding: 1px;
    margin: 2px 2px 2px 2px;
	display: table-cell;
	min-height: 90px;
	vertical-align: bottom;
	font-size: 7px;
}
img {
    height: 20px;
}
}
	