html{
	background-image:url("bknd.png");
	background-color: white;
	background-size: cover;
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0;
	font-family: "Calibri";
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
@font-face {
	font-family: Calibri;
	src: url('calibri.ttf') format('truetype');
}
#recipeTable  {
	position: relative;
	top: 10px;
	left: 15px;
	width: calc(100% - 15px);
	text-align: center;
	font-weight: bold;
	border-collapse: collapse;
	color: white;
}
#recipeTable tr:nth-child(even) {
	background-color: none;
	font-family: "Calibri";
}
#recipeTable tr:nth-child(odd) {
	background-color: rgba(37,84,89,0.8);
	font-family: "Calibri";
}
#recipeTable td:nth-last-child(1) {
	width: 100px;
}
#recipeTable td:nth-last-child(2) {
	width: 100px;
}
th, td {
	position: relative;
	padding: 15px;
	text-align: center;
	font-family: "Calibri";
	align-items: center;
	align-content: center;
}
#recipeTable th {
	background-image: linear-gradient(#51bbc6, #39848c);
	color: white;
	font-size: 18px;
}
#ITEMCARD {
	position: relative;
	bottom: 0px;
	padding: 5px;
	margin-bottom: 2px;
	width: 70px;
	display: table-cell;
	vertical-align: bottom;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
#CRAFTCARD {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
#PLUS {
	position: relative;
	bottom: 0px;
	padding: 5px;
	margin: 2px 2px 2px 2px;
	display: table-cell;
	min-height: 90px;
	vertical-align: bottom;
	vertical-align: middle;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
.searchbar {
	position: relative;
	display: table-cell;
	left: 0px;
	width: 85%;
	border: 3px solid rgb(37,84,89);
	padding: 5px;
	height: 20px;
	border-radius: 50px;
	outline: none;
	color: #4c4c4c;
	vertical-align: middle;
	margin: 5px 2px 5px 2px;
}
.quantitybar {
	position: relative;
	display: table-cell;
	left: 0px;
	width: 85%;
	border: 3px solid rgb(37,84,89);
	padding: 5px;
	height: 20px;
	border-radius: 50px;
	outline: none;
	color: #4c4c4c;
	vertical-align: middle;
	margin: 5px 2px 5px 2px;
}
.searchbar:focus{
	color: black;
}
.quantitybar:focus{
	color: black;
}
.sidebar {
	overflow: hidden;
	position: fixed;
	z-index: 1;
	width: 300px;
	height: 100%;
	top: 0px;
	left:-250px;
	background-color: #262626;
	align-items: right;
	transition: 0.4s;
	display: none;
}
.sidebar:hover {
	left: 0px;
}
.sidebar img {
	position: absolute;
	height: auto;
	width: auto;
	top: 9px;
	right: 9px;
	filter: invert(100%);
}
.sidebar a {
	position: relative;
	display: block;
	width: 250px;
	vertical-align: middle;
	color: white;
	padding:20px 5px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #6b6b6b;
}
.navbar {
	position: absolute;
	z-index: 1;
	width: 20%;
	left: 0px;
	top: -30px;
	height: 100%;
}
.navbar a {
	position: relative;
	display: block;
	width: 90%;
	vertical-align: middle;
	color: white;
	padding: 10px 5px;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
}
.navbar a:hover {
	background-color: rgba(37,84,89,1)
}
.links {
	position: relative;
	overflow: hidden;
	height: 88%;
	width: 100%;
}
.sidebar a:hover{
	background-color: black;
	color: white;
}
#ITEMCARD .quantity {
	position: absolute;
	color: black;
	top: -15px;
	left: -5px;
	background-color: white;
	border: solid 2px black;
	border-radius: 50px;
	min-width: 25px;
	width: auto;
	height: 25px;
	text-align: center;
	vertical-align: bottom;
	padding-left: 1px;
	padding-right: 1px;
}
#CRAFTCARD .quantity {
	position: absolute;
	color: black;
	top: -5px;
	left: 5px;
	background-color: white;
	border: solid 2px black;
	border-radius: 50px;
	min-width: 25px;
	width: auto;
	height: 25px;
	text-align: center;
	vertical-align: bottom;
	padding-left: 1px;
	padding-right: 1px;
}
.image {
	position: relative;
}
.OriginalValue {
	display: none;
}
.TimeValue {
	display: none;
}
.zap {
	height: 15px;
}
.maindiv {
	position: absolute;
	width: calc(100% - 158px);
	height: calc(100% - 160px);
	left: 79px;
	background-color: rgba(37,84,89,0.8);
	top: 85px;
}
.table {
	position: absolute;
	overflow-y: scroll;
	overflow-x: hidden;
	height: calc(100% + 60px);
	top: -30px;
	width: 80%;
	right: 0px;
	border-left: solid 1px rgb(37,84,89);
}
.topline {
	position: absolute;
	background-image: url("images/topline.png");
	background-repeat: repeat;
	height: 85px;
	width: 100%;
	top: -85px;
}
.rightline {
	position: absolute;
	background-image: url("images/rightside.png");
	background-repeat: repeat;
	height: 100%;
	width: 79px;
	right: -79px;
}
.leftline {
	position: absolute;
	background-image: url("images/leftside.png");
	background-repeat: repeat;
	height: 100%;
	width: 79px;
	left: -79px;
}
.bottomline {
	position: absolute;
	background-image: url("images/bottomline.png");
	background-repeat: repeat;
	height: 75px;
	width: 100%;
	bottom: -75px;
}
footer {
	position: relative;
	color: white;
	font-size: 12px;
	text-align: center;
	top: 15px;
	padding-bottom: 5px;
}
footer a {
	color: white;
	text-decoration: none;
}
.pin {
	display: none;
}
.pin + .pinl {
	position: absolute;
	right: 2px;
	top: 2px;
	height: 32px;
	width: 32px;
	cursor: pointer;
	z-index: 1;
	background-image: url("images/pin.png")
}
.pin:checked + .pinl {
	background-image: url("images/pinned.png")
}
::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-track {
	background: none; 
}
::-webkit-scrollbar-thumb {
	background: rgba(37,84,89,0.5); 
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(37,84,89,1); 
}
.more {
	display: none;
}
.less {
	display: none;
}
.border {
	position: absolute;
	height: 100%;
	width: 18px;
	visibility: hidden;
	right: -18px;
	background-image: url("images/navbarside.png");
	background-repeat: repeat;
}
@media screen and (max-width:950px) {
	#recipeTable  {
		position: relative;
		width: 100%;
		font-size: 7px;
		left: 0px;
	}
	#recipeTable td:nth-last-child(1) {
		width: 30px;
	}
	#recipeTable td:nth-last-child(2) {
		width: 30px;
	}
	#ITEMCARD {
		position: relative;
		bottom: 0px;
		padding: 5px;
		margin-bottom: 1px;
		width: 30px;
		display: table-cell;
		vertical-align: bottom;
	}
	#CRAFTCARD {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
		text-align: center;
	}
	img:not(.corner) {
		height: 20px;
	}
	#ITEMCARD .quantity {
		position: absolute;
		top: -5px;
		left: -5px;
		background-color: white;
		border: solid 1px black;
		border-radius: 50px;
		min-width: 10px;
		width: auto;
		height: 10px;
		text-align: center;
		vertical-align: bottom;
	}
	#CRAFTCARD .quantity {
		position: absolute;
		top: -5px;
		left: 5px;
		background-color: white;
		border: solid 1px black;
		border-radius: 50px;
		min-width: 10px;
		width: auto;
		height: 10px;
		text-align: center;
		vertical-align: bottom;
	}
	.zap {
		height: 7px;
	}
	.navbar {
		left: -350px;
		width: 250px;
		transition: 0.5s;
		height: calc(100% + 160px);
		top: -85px;
		background-color: #466c70;
	}
	.links {
		height: 80%;
	}
	.searchbar {
		width: 200px;
	}
	.quantitybar {
		width: 200px;
	}
	.table {
		width: 100%;
		border-left: none;
	}
	.more {
		position: absolute;
		display: block;
		background: none;
		left: 0px;
		top: -64px;
		z-index: 1;
		border: none;
	}
	.less {
		position: absolute;
		display: block;
		background: none;
		border: none;
		top: 12px;
		right: 0px;
	}
	.border {
		visibility: visible;
	}
	.maindiv {
		width: 100%;
		margin-left: -50%;
		left: 50%;
	}
	.corner {
		display: none;
	}
	.rightline {
		display: none;
	}
	.leftline {
		display:  none
	}
	.pin + .pinl {
		background-size: 16px;
		width: 16px;
		height: 16px;
	}
}
